/* 
.treeview ul {
    list-style: none;
    padding-left: 30px;
}
[data-level="C"].treeview__level:before {
    border: 7.5px solid #d5f6f4;
    background-color: #37cfc5;
}
.treeview ul li {
    padding: 50px 0px 0px 35px;
    position: relative;
}
.treeview .treeviewul> li{
    padding: 50px 0px 0px 5px;
}
.treeview__level {
    padding: 7px 10px;
    padding-left: 40px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #e3e5ef;
    position: relative;
    z-index: 1;
}

.treeview__level.selected {
    background-color: #f9f9fb;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
}

.treeview>ul>li>.treeview__level:before {
    height: 60px;
    width: 60px;
    top: -9.5px;
    background-color: #54a6d9;
    border: 7.5px solid #d5e9f6;
    font-size: 22px;
}

.treeview .level-title {
    cursor: pointer;
    user-select: none;
}

.treeview .btn-default {
    border-color: #e3e5ef;
}

.treeview .level-title:hover {
    text-decoration: underline;
}

.treeview__level-btns {
    margin-left: 15px;
    display: inline-block;
    position: relative;
}

.treeview__level .level-same,
.treeview__level .level-sub {
    position: absolute;
    display: none;
    transition: opacity 250ms cubic-bezier(0.7, 0, 0.3, 1);
}

.treeview__level .level-same {
    top: 0;
    left: 45px;
}

.treeview__level .level-sub {
    top: 42px;
    left: 0px;
}

.treeview__level .level-remove {
    display: none;
}

.treeview__level.selected .level-remove {
    display: inline-block;
}

.treeview__level.selected .level-add {
    display: none;
}

.treeview__level.selected .level-same,
.treeview__level.selected .level-sub {
    display: none;
}

.treeview ul li:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -30px;
    border-left: 2px dashed #a2a5b5;
    width: 1px;
    height: 100%;
}

.treeview ul li:after {
    content: "";
    position: absolute;
    border-top: 2px dashed #a2a5b5;
    top: 70px;
    left: -30px;
    width: 65px;
}

.treeview__level:before {
    content: attr(data-level);
    position: absolute;
    left: -27.5px;
    top: -6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 7.5px solid #eef6d5;
    background-color: #bada55;
    color: #fff;
    font-size: 20px;
}

.treeview ul:first-child>li::before {
    display: none;
}

.treeview ul:first-child>li::after {
    display: none;
}

.treeview__level:before {
    content: attr(data-level);
    position: absolute;
    left: -27.5px;
    top: -6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 7.5px solid #eef6d5;
    background-color: #bada55;
    color: #fff;
    font-size: 20px;
}
    .treeview__level .level-same.in, .treeview__level .level-sub.in {
    display: block;
}
.sh_data i.material-icons {
    vertical-align: bottom;
    margin-right: 5px;
    font-size: 22px;
}
span.level-title i.material-icons {
    vertical-align: bottom;
    margin-left: 5px;
    font-size: 22px;
    color: #1dc0ff;
}
.table th {
    font-weight: bold;
    color: #595d6e;
}
.table-responsive {
    max-height: 600px;
    overflow: auto;
    margin-bottom: 20px;
}
@media (max-width: 1024px) {
.treeview ul li {
    padding: 50px 0px 0px 20px;
    position: relative;
}
} */
.kt-content, .modal{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", roboto, "Helvetica Neue", helvetica, arial, sans-serif;
}
.treeview ul {
    list-style: none;
    padding-left: 30px;
}
[data-level="C"].treeview__level:before {
    border: 7.5px solid #d5f6f4;
    background-color: #37cfc5;
}
.treeview ul li {
    padding: 40px 0px 0px 35px;
    position: relative;
}
.treeview ul> li{
    padding: 40px 0px 0px 7px;
}
.treeview__level {
    padding: 7px 10px;
    padding-left: 40px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #e3e5ef;
    position: relative;
    z-index: 1;
}

.treeview__level.selected {
    background-color: #f9f9fb;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
}

.treeview>ul>li>.treeview__level:before {
    height: 60px;
    width: 60px;
    top: -9.5px;
    background-color: #54a6d9;
    border: 7.5px solid #d5e9f6;
    font-size: 22px;
}

.treeview .level-title {
    cursor: pointer;
    user-select: none;
}

.treeview .btn-default {
    border-color: #e3e5ef;
}

.treeview .level-title:hover {
    text-decoration: underline;
}

.treeview__level-btns {
    margin-left: 15px;
    display: inline-block;
    position: relative;
}

.treeview__level .level-same,
.treeview__level .level-sub {
    position: absolute;
    display: none;
    transition: opacity 250ms cubic-bezier(0.7, 0, 0.3, 1);
}

.treeview__level .level-same {
    top: 0;
    left: 45px;
}

.treeview__level .level-sub {
    top: 42px;
    left: 0px;
}

.treeview__level .level-remove {
    display: none;
}

.treeview__level.selected .level-remove {
    display: inline-block;
}

.treeview__level.selected .level-add {
    display: none;
}

.treeview__level.selected .level-same,
.treeview__level.selected .level-sub {
    display: none;
}

.treeview ul li:before {
    content: "";
    position: absolute;
    top: -14px;
    left: -30px;
    border-left: 2px dashed #a2a5b5;
    width: 1px;
    height: 100%;
}

.treeview ul li:after {
    content: "";
    position: absolute;
    border-top: 2px dashed #a2a5b5;
    top: 60px;
    left: -30px;
    width: 60px;
}

.treeview__level:before {
    content: attr(data-level);
    position: absolute;
    left: -27.5px;
    top: -6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 7.5px solid #eef6d5;
    background-color: #bada55;
    color: #fff;
    font-size: 20px;
}

.treeview ul:first-child>li::before {
    display: none;
}

.treeview ul:first-child>li::after {
    display: none;
}

.treeview__level:before {
    content: attr(data-level);
    position: absolute;
    left: -27.5px;
    top: -6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 7.5px solid #eef6d5;
    background-color: #bada55;
    color: #fff;
    font-size: 20px;
}
    .treeview__level .level-same.in, .treeview__level .level-sub.in {
    display: block;
}
.sh_data i.material-icons {
    vertical-align: bottom;
    margin-right: 5px;
    font-size: 22px;
}
span.level-title i.material-icons {
    vertical-align: bottom;
    margin-left: 5px;
    font-size: 22px;
    color: #1dc0ff;
}
.table th {
    font-weight: bold;
    color: #595d6e;
}
.table-responsive {
    max-height: 600px;
    overflow: auto;
    margin-bottom: 20px;
}
.search-div{
    width: 265px;
    margin-top: 12px;
}
.view_filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    flex-wrap: wrap;
}
.docs-white .search-div-inner {
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    border-radius: 6px;
    background: #f0f1f3;
    border: 1px solid #f0f1f3;
}
.docs-white .search-div-inner {
    background: #f7f8f9;
    border: 1px solid #f7f8f9;
    flex-wrap: initial;
}
.docs-white .search-div-inner {
    background: #fff;
    border: 1px solid #e8eaed;
    flex-wrap: initial;
}
.search-div-inner {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
    margin: 0 -10px;
    padding: 0 6px 0 10px;
    cursor: pointer;
}
.search-input{
    transition: all .2s cubic-bezier(.785,.135,.15,.86) 0s;
    font-size: 14px;
    font-weight: 400;
    order: 2;
    flex-grow: 1;
    height: 30px;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    color: #343434;
    background: transparent;
    min-width: 0;
    max-width: none;
}
.search-input{
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    padding-left: 17px;
    padding-top: 1px;
}
.search-icon{
    order: 0;
    position: absolute;
    left: 7px;
    width: 14px;
    height: 14px;
    color: #87909e;
}
.sch_icon{
font-size: 18px;
}
.filtr{
    color: #2a2e34;
    border: 1px solid #e8eaed;
    background-color: #f0f1f3;
    border-color: #d6d9de;
    padding: 5px;
    height: auto;
}
.search-input:focus {
    outline: none;
}
.modal-bg{
    background: #edf0f7;
}
.card-item{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 190px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px #00000026;
    margin: 10px 10px;
}
.bg-gray .card-item{    
    width: 18.08%;
}
.card.card-item.card-bb {
    background: #f8feff85;
    border: 1px solid #fff;
}
.crd-hed{
    padding: 8px 20px;
    min-height: 40px;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}
.crd-ck{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px!important;
    line-height: 1!important;
    color: #7c828d;
}
.crd-divdr{
    flex-grow: 1;
}
.crd-drop{
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.crd-body{
    padding: 0 20px;
    flex-grow: 1;
    cursor: pointer;
    min-height: 0;
    overflow: hidden;
    position: relative;
}
.shel_div{
    display: flex;
    padding: 5px 0 10px;
    flex-shrink: 0;
}
.shel_name{
    transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3!important;
    display: block;
    color: #7b68ee;
}
.shel_name:hover{
    color: rgb(4 169 244);
}
.grad-text{
    background: linear-gradient(to bottom, #ff0d0d 0%, #b21eb9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.grad2{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.crd-fot{
    min-width: 0;
    padding: 4px 20px;
    border-top: 1px solid #e9ebf0;
}
.capacity_txt{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 6px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgb(4 169 244);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    width: max-content;
}
.fase{
    background: rgb(210, 91, 91);
}

.menu_toggle{
    margin: -1px 4px 2px 0;
}
.cncl label{    
    color: rgb(210, 91, 91);
    cursor: pointer;
}
.bg-gray{
    background: #F5F7FA;
}
.menu_checkbox {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 0;
}
.menu_checkbox input {
    opacity: 0;
    position: absolute;
}
.onoff-toggle {
    display: inline-block;
    cursor: pointer;
    width: 28px;
    height: 16px;
    border-radius: 56px;
    background-color: rgb(210, 91, 91);
    position: relative;
    vertical-align: middle;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), inset 0 1px 1px rgb(0 0 0 / 10%);
    transition: background-color 210ms ease;
}
.onoff-toggle:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 15%);
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: transform 120ms ease;
}
input:checked ~ .onoff-toggle {
    background-color: rgb(4, 169, 244);
}
input:checked ~ .onoff-toggle:before {
    transform: translateX(100%);
}
@media (max-width: 1024px) {
.treeview ul li {
    padding: 50px 0px 0px 20px;
    position: relative;
}
.card-item {
    width: 230px;

}
}
@media (max-width: 768px) {
.card-item {
    width: 210px;

}
}
@media (max-width: 525px) {
.card-item {
    width: 100%;

}
}
.modal-body{
    height: calc(100vh - 200px);
    overflow: auto;
}
.modal-body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
    height: 16px;
}

.modal-body::-webkit-scrollbar-track {
    background-color: #fff;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #1c1c9e80;
    border-radius: 16px;
    border: 5px solid #fff;
}

.btn-header-link{
    display: block;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
}
.sub_text{
    font-size: 13px;
    color: #969696;

}
.menu_cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.cards{
    min-width: 24%;
    width: 24%;   
    background: #F5F7FA;
    padding: 0;
    flex: 1;
    border-radius: 4px;
    color: #0b0e1f;
    margin: 0px 8px;
} 
.desc{
    color: #0b0e1f;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.42857;
    margin-bottom: 15px;
    margin-left: 5px;
}
.cards ul{
    padding-left: 5px;
}
li{
    list-style: none;
}
.list-item {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 8px 0 8px 10px;
    overflow: hidden;
}
.menu_li{
    background: #fff;
    border: 1px solid #E7EBF1;
    border-radius: 4px;
    padding: 4px 0;
    margin: 8px 0px;
}
.menu_li:hover {
    background: #fff;
    box-shadow: 0 0 2px #cfcfcf;
    border-radius: 4px;
}
.menu_text {
    width: 100%;
    color: #0b0e1f;
    padding-left: 10px;
}

#faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  }
  #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
  }

  .scroll-body{
    max-height: calc(100vh - 335px);
    overflow: auto;
}
.scroll-body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
    height: 16px;
}

.scroll-body::-webkit-scrollbar-track {
    background-color: #fff;
}

.scroll-body::-webkit-scrollbar-thumb {
    background-color: #1c1c9e80;
    border-radius: 16px;
    border: 5px solid #fff;
}
.material-icons{
    vertical-align: middle;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
.crd-hdr {
    min-width: 0;
    padding: 4px 20px;
    border-bottom: 1px solid #e9ebf0;
}
.selctd_shelve {
    background: #edf0f7;
}
