.status0 i.material-icons {
    vertical-align: bottom;
    margin-right: 5px;
    font-size: 22px;
}

.kt-quick-panel {
    width: 75% !important;
}

.kt-quick-panel {
    right: -75%;
    left: auto;
}
.bg-inf {
    background-color: #44abc1 !important;
}
.card1 {
    margin-right: 10px !important;
}
.card1, .card2 {
    border-radius: 6px !important;
    border: 0.5px solid #ebedf2 !important;
}
.bg-sucr {
    border-top: 4px solid #66ebb6 !important;
}
.bg-infr {
    border-top: 4px solid #6ecee1 !important;
}
.accor .card:last-child {
    margin-bottom: 1.5rem !important;
}
.kt-portlet{
    background-color: transparent;
}
.form-m .form-cus {
    width: 100%;
}

.bg-purple-top {
    border-top: 4px solid #9093d2 !important;
}
/* #Flexbox */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox-space-bet-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.profile-info {
    width: 100%;
}
.profile-info-inner {
    margin: 2.5em 0;
}
/* Profile Picture */
.profile-picture-large {
    padding: .3em;
    width: 10em;
    height: 10em;
    margin: 0 2.5em 0 0;
}
.profile-picture-large .profile-picture-inner {
    width: 100%;
    height: 100%;
    border: 0.3em solid rgb(243, 242, 245);
}
.profile-picture-small {
    padding: .2em;
    width: 4em;
    height: 4em;
    margin: 0 .75em 0 0;
}
.profile-picture-inner {
    width: 100%;
    height: 100%;
    border: 0.3em solid rgb(243, 242, 245);
}
.profile-picture-wrapper {
    position: relative;
    cursor: pointer;
}
.profile-picture-inner {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}
.profile-picture {
    min-width: 100%;
    max-width: 110%;
    min-height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    z-index: 2;
}
.profile-picture-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(121deg, rgb(121, 134, 203) 0%, rgb(225, 190, 231) 100%);
    border-radius: 50%;
    z-index: 1;
}
.profile-picture-note {
    top: 2.25em;
    left: 1.75em;
    padding: .75em 1.25em;
    position: fixed;
    will-change: transform;
    color: #ffffff;
    background-color: #000000;
    border-radius: .25rem;
    pointer-events: none;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    z-index: 4;
}
/* Username */
.profile-username .name {
    margin: 0 .2em 0 0;
}
.profile-username .material-icons-round {
    color: rgb(0, 123, 255);
    font-size: 2.4rem;
}
.profile-username-small .name {
    margin: 0 .25em 0 0;
    font-size: calc(2.4rem + .25rem);
}
.profile-username-small .material-icons-round {
    color: rgb(0, 123, 255);
    font-size: calc(2.4rem + .25rem);
}
/* Profile inf */
.profile-inf p {
    margin: 0 10px 5px 0;
    cursor: pointer;
    font-size: 1.11rem;
}
.profile-inf p span {
    margin: 0 .25em 0 0;
    font-weight: 700;
}
.profile-inf p span.posit {
    font-weight: 500;
    color: rgba(0, 123, 255, 1);
    text-decoration: none;
    font-size: 1.41rem;
}
.btn-sm, .btn-group-sm>.btn {
    font-size: 0.955rem;
}
.proset, .prodet{
    position: absolute;
    right: 100%;
    z-index: 9999;
    top: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    overflow: auto;
}
.pronew{
    transition: left 0.9s ease, right 0.3s ease;
    right: 0;
    left: auto;
    position: relative;
}
.hide_pro{
    display: none;    
    transition: left 0.9s ease, right 0.3s ease;
}