<div class="kt-portlet__head">
    <div class="kt-inbox__toolbar kt-inbox__toolbar--extended">
        <div class="kt-inbox__actions kt-inbox__actions--expanded">
            <!-- <div class="kt-inbox__search">
                <div class="input-group">
                    <input id="txtSearch" type="text" (keyup.enter)="Search()"  class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a>
                                <i (click)="Search()" class="fa fa-search"></i>
                                </a>
                        </span>
                    </div>
                </div>
            </div> -->
            <div id="search-grp" class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text pr-0">
                        <button  type="button" role="button" (click)="IconSearch()" id="srch-btn" data-tooltip="Search" aria-label="Search" class="srch-btns pr-0">
                            <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                                <path 
                                    d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z">
                                </path>
                                <path  d="M0,0h24v24H0V0z" fill="none"></path>
                            </svg>
                        </button>
                    </span>
                </div>
                <input id="txtSearch" (keydown)="onBackspace($event)" [(ngModel)]="_Search" type="text" (keyup.enter)="Search()" (click)="Searchighlight()" (keyup)="clearshow()" autocomplete="off" class="form-control" [placeholder]="PendingformotherSearch">
                <button class="clear-icon kt-search-clr-ic" *ngIf="_Search" (click)="clearSearch()"> <i class="fa fa-times"></i> </button>
                <!-- <div class="input-group-append">
                    <span class="input-group-text">
                        <button (click)="ClearFilters()" id="clear-filter" class="srch-btns mr-2" data-toggle="kt-tooltip" data-skin="dark"
                            title="Clear Filters">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                role="img" font-size="1.5rem"  width="1em" height="1em"
                                viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M2 12a9 9 0 0 0 9 9c2.39 0 4.68-.94 6.4-2.6l-1.5-1.5A6.706 6.706 0 0 1 11 19c-6.24 0-9.36-7.54-4.95-11.95C10.46 2.64 18 5.77 18 12h-3l4 4h.1l3.9-4h-3a9 9 0 0 0-18 0Z">
                                </path>
                            </svg>
                            <span class="label-hidden">Reload</span>
                        </button>
                        <button  type="button" role="button" id="filtr-btn" (click)="open_fltrs()" data-tooltip="Search options" aria-label="Advanced search options"
                            class="srch-btns">
                            <svg  xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path 
                                    d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z">
                                </path>
                            </svg>
                        </button>
                    </span>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet__head filter-head px-4">
    <div class="kt-inbox__toolbar kt-inbox__toolbar--extended">
        <div class="kt-inbox__actions kt-inbox__actions--expanded main-bx m-0">
            <label class="kt-checkbox kt-checkbox--single kt-checkbox--tick kt-checkbox--brand mb-0 mr-2">
                <input type="checkbox" (change)="selectAllcheckbox()" [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
                <span></span>
            </label>
            <div class="d-flex align-items-center tabs-ies px-2">
                <button [ngClass]="(_ByFilters_Parameter==true)?'btn btn-tabbie btn-active':'btn btn-tabbie'" (click)="InitialLoadFilters(true)">{{ "Communication.AwaitingAction" | translate }}</button>
                <button [ngClass]="(_ByFilters_Parameter==false)?'btn btn-tabbie btn-active':'btn btn-tabbie'" (click)="InitialLoadFilters(false)">{{ "Communication.CompletedAction" | translate  }}</button></div>
            <div class="br-line d-none"></div>

            <button (click)="deletememo(0)" class="btn btn-hvr d-none" data-toggle="kt-tooltip" data-skin="dark" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12M8 9h8v10H8V9m7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5Z">
                    </path>
                </svg>
                <span class="label-hidden">Delete</span>
            </button>
            <div class="br-line"></div>
            <!-- labels start -->
            <div id="btngroup_label" class="btn-group dropdown">
                <button class="btn btn-hvr" id="dropdownlabel" (click)="rebindinglabel()"  data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em"
                        height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M16 17H5V7h11l3.55 5m-1.92-6.16C17.27 5.33 16.67 5 16 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h11c.67 0 1.27-.34 1.63-.85L22 12l-4.37-6.16Z">
                        </path>
                    </svg>
                    <span class="label-hidden">Label</span>
                </button>
                <div id="div_filters2" class="dropdown-menu dropdown-menu-left dropdown-menu-fit hand-drop">
                    <ul class="kt-nav pb-4" (click)="$event.stopPropagation();">
                        <li class="kt-nav__head py-0">
                            <div>{{ "Communication.Label" | translate }}</div>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item px-2 mb-2">
                            <input type="search" class="form-control" name="Label" [(ngModel)]="searchText" [placeholder]="SearchLabel">
                        </li>
                        <li class="pl-3">
                            <span *ngFor="let _lbl of SelectLabel">
                                {{_lbl}} ,
                            </span>
                        </li>
                        <div class="height-scroll h-scr">
                            <li class="kt-nav__item" *ngFor="let item  of LablesJson | filter:searchText">
                                <div class="d-flex-cen">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--tick kt-checkbox--brand mb-0 mr-1">
                                        <input name="labelckh" type="checkbox" (change)="labelchange(item.LabelId)"
                                            [(ngModel)]="item.checked" id="lbl_{{item.LabelId}}"><span></span>
                                    </label>
                                    <label class="form-check-label cs-p" for="lbl_{{item.LabelId}}">{{item.LabelName}}</label>
                                </div>
                            </li>
                        </div>
                        <li class="kt-nav__separator"></li>
                        <li class="px-4">
                            <a class="btn btn-info btn-xs mr-2 text-white" (click)="AddMemostoLabels1()">{{
                                "Communication.Add" | translate }}</a>
                            <a class="btn btn-outline-info btn-xs text-dark-75" (click)="closedataloadSettings1()">{{
                                "Communication.Close" | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- labels end -->
            <button (click)="deletememo(0)" class="btn btn-hvr" data-toggle="kt-tooltip" data-skin="dark" id="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12M8 9h8v10H8V9m7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5Z">
                    </path>
                </svg>
                <span class="label-hidden">Delete</span>
            </button>

            <!-- <button *ngIf="MemoView==false" (click)="UpdateMailView(0,false)" class="btn btn-hvr" data-toggle="kt-tooltip" data-skin="dark" id="UnRead">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10Z">
                    </path>
                </svg>
                <span class="label-hidden">Mark as UnRead</span>
            </button>
            <button *ngIf="MemoView==true" (click)="UpdateMailView(0,true)" class="btn btn-hvr" data-toggle="kt-tooltip" data-skin="dark" id="ReadMemo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M21.03 6.29L12 .64L2.97 6.29C2.39 6.64 2 7.27 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-.73-.39-1.36-.97-1.71M20 18H4v-8l8 5l8-5v8m-8-5L4 8l8-5l8 5l-8 5Z">
                    </path>
                </svg>
                <span class="label-hidden">Mark as Read</span>
            </button> -->
        </div>




        <div class="kt-inbox__controls m-0">

            <button (click)="ClearFilters()" class="btn btn-hvr" data-toggle="kt-tooltip" data-skin="dark" id="ReloadClearFilters">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M2 12a9 9 0 0 0 9 9c2.39 0 4.68-.94 6.4-2.6l-1.5-1.5A6.706 6.706 0 0 1 11 19c-6.24 0-9.36-7.54-4.95-11.95C10.46 2.64 18 5.77 18 12h-3l4 4h.1l3.9-4h-3a9 9 0 0 0-18 0Z">
                    </path>
                </svg>
                <span class="label-hidden">Reload</span>
            </button>

            <!-- <div (click)="Dataloadfilter()" class="btn-group">
                <button [ngClass]="(FiltersSelected==true)?'btn-act btn btn-hvr filter-dot1':'btn btn-hvr btn-act'" class="" data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" role="img"
                        font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em" viewBox="0 -1 17 17">
                        <path
                            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                    </svg>
                    <span class="label-hidden">Filters</span>
                </button>
                <div id="div_filters" class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-width-700">
                    <ul (click)="$event.stopPropagation();" class="kt-nav">
                        <li class="kt-nav__head d-flex justify-content-between">
                            <div>Data Load Settings</div>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item px-3 mb-2 position-relative">
                            <input autoFocus type="text" name="Search" class="form-control" [(ngModel)]="txtSearch" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Search Users, Status, Company...">
                            <a *ngIf="txtSearch" class="close-icnb"><i (click)="Rebinding()" class="material-icons">close<i></i></i></a>
                        </li>
                        <li class="kt-nav__item px-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h6 class="mb-0">Status</h6>
                                    <div class="kt-nav__separator"></div>
                                    <div class="height-scroll">
                                        <label *ngFor="let ss of StatusJSON|filter:txtSearch" class="kt-checkbox kt-checkbox--info">
                                            <input type="checkbox" name="statuschk" value="{{ss.Status}}"
                                                [checked]="ss.isChecked" (change)="onstatuschange($event)">
                                            {{ss.Status}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="opts-flx">
                                        <ng-container *ngFor="let ss of StatusJSON">
                                            <div class="selectd-opts" *ngIf="(ss.isChecked == true)">
                                                <div class="slt-div">
                                                    <div class="opt-txt">
                                                        {{ss.Status}}
                                                    </div>
                                                </div>
                                                <div (click)="removeStatus(ss.Status,$event)" class="removeButton" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="rmv-icn w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M6 18L18 6M6 6l12 12">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mb-0">Company</h6>

                                    <div class="kt-nav__separator"></div>
                                    <div class="height-scroll">
                                        <label *ngFor="let ss of CompanyListJSON|filter:txtSearch" class="kt-checkbox kt-checkbox--info">
                                            <input type="checkbox" name="companychk" value="{{ss.CompanyId}}"
                                                [checked]="ss.isCompanyChecked" (change)="oncompanychange($event)">
                                            {{ss.CompanyName}}
                                            <span></span>
                                        </label>
                                    </div>


                                    <div class="opts-flx">
                                        <ng-container *ngFor="let ss of CompanyListJSON">
                                            <div class="selectd-opts" *ngIf="(ss.isCompanyChecked == true)">
                                                <div class="slt-div">
                                                    <div class="opt-txt">
                                                        {{ss.CompanyName}}
                                                    </div>
                                                </div>
                                                <div (click)="removeCompany(ss.CompanyId,$event)" class="removeButton" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="rmv-icn w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M6 18L18 6M6 6l12 12">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <h6 class="mb-0">Users</h6>

                                    <div class="kt-nav__separator"></div>
                                    <div class="height-scroll">
                                        <label *ngFor="let ss of UserListJSON|filter:txtSearch" class="kt-checkbox kt-checkbox--info">
                                            <input type="checkbox" name="userschk" value="{{ss.UserId}}"
                                                [checked]="ss.isUserChecked" (change)="onuserchange($event)">
                                            {{ss.FromUser}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="opts-flx">
                                        <ng-container *ngFor="let ss of UserListJSON">
                                            <div class="selectd-opts" *ngIf="(ss.isUserChecked == true)">
                                                <div class="slt-div">
                                                    <div class="opt-txt">
                                                        {{ss.FromUser}}
                                                    </div>
                                                </div>
                                                <div (click)="removeUser(ss.UserId,$event)" class="removeButton" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="rmv-icn w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M6 18L18 6M6 6l12 12">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="px-4">
                            <input type="hidden" id="hdnFilterText">
                            <input type="hidden" id="hdnFilterOrderType">
                            <a class="btn btn-info mr-2 text-white btn-xs kt-filter-data" (click)="FiltersData()">Filter</a>
                            <a class="btn btn-outline-info btn-xs text-dark-75" (click)="closedataloadSettings()">Close</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <button class="kt-inbox__icon" (click)="ToMemos(1,'')"><i style="font-size: 1.5rem;" class="flaticon-refresh"></i></button> -->

            <div class="btn-group">
                <!-- <button [ngClass]="(FiltersSelected==true)?'btn-act btn btn-hvr filter-dot1':'btn btn-hvr btn-act'" class="" data-toggle="dropdown">
                  
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" role="img"
                        font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em" viewBox="0 -1 17 17">
                        <path
                            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                    </svg>
                    <span class="label-hidden">Filters</span>
                </button> -->

                <!-- <div id="div_filters" class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-width-600">
                    <ul (click)="$event.stopPropagation();" class="kt-nav">
                        <li class="kt-nav__head d-flex justify-content-between">
                            <div>Data Load Settings</div>
                            <div class="display: inline-block">
                                <button id="btnAll" class="btn btn-outline-info btn-xs mr-1 active" (click)="InboxTypeFn('All')">All</button>
                                <button id="btnTO" class="btn btn-outline-info btn-xs mr-1" (click)="InboxTypeFn('TO')">TO </button>
                                <button id="btnCC" class="btn btn-outline-info btn-xs mr-1" (click)="InboxTypeFn('CC')">CC</button>
                            </div>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item px-3 mb-2">
                            <input autoFocus type="search" class="form-control" [(ngModel)]="txtSearch" [ngModelOptions]="{standalone: true}" placeholder="Search Users, Status, Company...">
                        </li>
                        <li class="kt-nav__item px-4">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4 class="mb-0">Status</h4>
                                    <ng-container *ngFor="let ss of _LstMemoStatus">
                                        <code *ngIf="(ss.isChecked == true)">{{ss.Status}},</code>
                                    </ng-container>

                                
                                    <div class="kt-nav__separator"></div>
                                    <div class="height-scroll">
                                        <label *ngFor="let ss of _LstMemoStatus|filter:txtSearch" class="kt-checkbox kt-checkbox--info">
                                            <input type="checkbox" name="statuschk" value="{{ss.Status}}"
                                                [checked]="ss.isChecked" (change)="onstatuschange($event)">
                                            {{ss.Status}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <h4 class="mb-0">Company</h4>
                                    <ng-container *ngFor="let ss of _LstCompaniesTO">
                                        <code *ngIf="(ss.isChecked == true)">{{ss.CompanyName}},</code>
                                    </ng-container>
                                    <div class="kt-nav__separator"></div>
                                    <div class="height-scroll">
                                        <label *ngFor="let ss of _LstCompaniesTO|filter:txtSearch" class="kt-checkbox kt-checkbox--info">
                                            <input type="checkbox" name="companychk" value="{{ss.CompanyId}}"
                                                [checked]="ss.isChecked" (change)="oncompanychange($event)">
                                            {{ss.CompanyName}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h4 class="mb-0">Users</h4>
                                    <ng-container *ngFor="let ss of _LstUsers">
                                        <code *ngIf="(ss.isChecked == true)">{{ss.FromUser}},</code>
                                    </ng-container>
                                    <div class="kt-nav__separator"></div>
                                    <div class="height-scroll">
                                        <label *ngFor="let ss of _LstUsers|filter:txtSearch" class="kt-checkbox kt-checkbox--info">
                                            <input type="checkbox" name="userschk" value="{{ss.FromUserId}}"
                                                [checked]="ss.isChecked" (change)="onuserchange($event)">
                                            {{ss.FromUser}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="px-4">
                            <input type="hidden" id="hdnFilterText">
                            <input type="hidden" id="hdnFilterOrderType">
                            <a class="btn btn-info mr-2 text-white btn-xs" (click)="FiltersData()">Filter</a>
                            <a class="btn btn-outline-info btn-xs text-dark-75" (click)="closedataloadSettings()">Close</a>
                        </li>
                    </ul>
                </div> -->
            </div>

            <div class="br-line"></div>
            <div class="kt-inbox__pages" data-toggle="kt-tooltip" data-skin="dark" id="Recordsperpage">
                <span class="kt-inbox__perpage">
                    <!-- <ng-container *ngIf="activePage==1">
                        {{activePage}} - {{_CurrentpageRecords}}
                    </ng-container>
                    <ng-container *ngIf="activePage!=1 && activePage!=LastPage">
                        {{_CurrentpageRecords * (activePage-1) + 1}} - {{_CurrentpageRecords * activePage}}
                    </ng-container>
                    <ng-container *ngIf="activePage ==LastPage">
                        {{lastPagerecords * (activePage-1) + 1}} - {{lastPagerecords * (activePage-1) +
                        _CurrentpageRecords}}
                    </ng-container>
                    of {{TotalRecords}} -->
                    {{ (activePage - 1) * _pageSize + 1 }} -  {{ isLastPage() ? TotalRecords : activePage * _pageSize }}
                    <span class="en-of"> of {{TotalRecords}}</span>
                    <span class="ar-main-of" style="display: none;"><span class="of"> - </span> {{TotalRecords}}</span>
                </span>
            </div>
            <span class="page-item previous" id="previous"> 
                <button class="p-0 btn"  (click)="previousPage()" [disabled]="activePage <= 1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true" role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em"
                    height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
                </svg>
                </button>
            </span>
                <span class="page-item next" id="Next" >
                <button class="p-0 btn" (click)="nextPage()" [disabled]="activePage >= totalPages">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true" role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em"
                    height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z"></path>
                </svg>
                </button>
            </span>
            <!-- <span [ngClass]="(activePage == 1)?'page-item paginationdisable':'page-item'">
                <button [ngClass]="(activePage == 1)?'paginationpointerdisable':''"
                    (click)="onClickPage(activePage - 1)" class="p-0 btn" data-toggle="kt-tooltip"
                    [disabled]="activePage==1" data-skin="dark" title="Previose page">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em"
                        height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
                    </svg>
                </button>
            </span> -->
            <!-- <button  [ngClass]="(activePage == 1)?'paginationpointerdisable':''" (click)="onClickPage(activePage - 1)" class="kt-inbox__icon" data-toggle="kt-tooltip" [disabled]="activePage==1" data-skin="dark" title="Previose page">
                        <i class="flaticon2-left-arrow"></i>
                </button> -->
            <!-- <span [ngClass]="(_CurrentpageRecords < 30)?'page-item paginationdisable':'page-item'">
                <button [ngClass]="(_CurrentpageRecords < 30)?'paginationpointerdisable':''"
                    (click)="onClickPage(activePage + 1)" class="btn p-0" data-toggle="kt-tooltip"
                    [disabled]="_CurrentpageRecords<30" data-skin="dark" title="Next page">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em"
                        height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z"></path>
                    </svg>
                </button>
            </span> -->
            <!-- <button [ngClass]="(_CurrentpageRecords < 30)?'paginationpointerdisable':''" (click)="onClickPage(activePage + 1)" class="kt-inbox__icon" data-toggle="kt-tooltip" [disabled]="_CurrentpageRecords<30" data-skin="dark" title="Next page">
                        <i class="flaticon2-right-arrow"></i>
                </button> -->
        </div>
    </div>
</div>


<div class="kt-portlet__body p-0 kt-portlet__body--fit-x scroll-y">
    <div class="kt-inbox__items" data-type="inbox">
        <div *ngFor="let ss of _LstToMemos" class="mb_1" id="mailid_{{ss.MailId}}">
            <div>
                <div>
                    <!-- [ngClass]="
                {
                    'rplr_border_left' : ss.MailView == 0 &&  ss.ReplyRequired == true,
                    'app_border_left' : ss.MailView == 0 &&  ss.ApprovalRequired == true,
                    'rplr_border_left_true' : ss.MailView == 1 &&  ss.ReplyRequired == true,
                    'app_border_left_true' : ss.MailView == 1 &&  ss.ApprovalRequired == true
                }" -->
                <!-- [className]="ss.MailView == true ? 'kt-inbox__item py-2' : 'kt-inbox__item kt-inbox__item--unread py-2','kt_completed': isCompleted" -->
                    <div data-id="MemoId_{{ss.MailId}}" data-type="inbox" 
                    [ngClass]="ss.MailView ? 'kt-inbox__item py-2' : 'kt-inbox__item kt-inbox__item--unread py-2' + (isCompleted ? ' kt_completed' : '')">
                        <div class="kt-inbox__info">
                            <div class="kt-inbox__actions">
                                <label class="kt-checkbox kt-checkbox--single kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox" id="checkbox1"  [(ngModel)]="ss.checked" (change)="Singleselectcheckbox(ss.MailId,ss.checked)"
                                        [ngModelOptions]="{standalone: true}">
                                    <span></span>
                                </label>
                                <!-- <app-favorite [favObj]="ss"></app-favorite> -->
                                <div (click)="ChangeFavoriteValue(ss.Favorite,ss.MailId)" [className]="ss.Favorite == true ? 'kt-inbox__icon kt-inbox__icon--on kt-inbox__icon--light tippy_Favorite'
                                : 'kt-inbox__icon kt-inbox__icon--off kt-inbox__icon--light tippy_Favorite'" data-toggle="kt-tooltip" data-skin="dark" data-placement="right">
                                    <i class="flaticon-star"></i>
                                </div>
                            </div>
                            <div class="kt-inbox__sender d-none">
                                <span class="kt-media kt-media--sm kt-media--dark">
                                <img class="rounded-circle" *ngIf="ss.UserProfile =='NA'" src="assets/media/icons/user2.png">
                                <img class="rounded-circle" *ngIf="ss.UserProfile !='NA'" src="https://yrglobaldocuments.blob.core.windows.net/documents/{{ss.UserProfile}}">
                                </span>
                            </div>
                        </div>
                        <div (click)="gotoMemoDetailsV2('Memo/Details',ss.MailId,ss.ReplyId)" class="kt-inbox__details">
                            <div class="kt-inbox__message flex-wrap">
                                <span class="kt-inbox__user_name">
                                    <!-- <small *ngIf="(ss.Attachment)" class="attchmt">
                                        <i class="fa fa-paperclip"></i>
                                    </small> -->
                                    <small *ngIf="(ss.IsConfidential)" class="kt-confidential"><span class="svg-icon svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Mail-locked.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="15" height="15"/>
                                            <path d="M12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.98630124,11 4.48466491,11.0516454 4,11.1500272 L4,7 C4,5.8954305 4.8954305,5 6,5 L20,5 C21.1045695,5 22,5.8954305 22,7 L22,16 C22,17.1045695 21.1045695,18 20,18 L12.9835977,18 Z M19.1444251,6.83964668 L13,10.1481833 L6.85557487,6.83964668 C6.4908718,6.6432681 6.03602525,6.77972206 5.83964668,7.14442513 C5.6432681,7.5091282 5.77972206,7.96397475 6.14442513,8.16035332 L12.6444251,11.6603533 C12.8664074,11.7798822 13.1335926,11.7798822 13.3555749,11.6603533 L19.8555749,8.16035332 C20.2202779,7.96397475 20.3567319,7.5091282 20.1603533,7.14442513 C19.9639747,6.77972206 19.5091282,6.6432681 19.1444251,6.83964668 Z" fill="#000000"/>
                                            <path d="M8,17 C8.55228475,17 9,17.4477153 9,18 L9,21 C9,21.5522847 8.55228475,22 8,22 L3,22 C2.44771525,22 2,21.5522847 2,21 L2,18 C2,17.4477153 2.44771525,17 3,17 L3,16.5 C3,15.1192881 4.11928813,14 5.5,14 C6.88071187,14 8,15.1192881 8,16.5 L8,17 Z M5.5,15 C4.67157288,15 4,15.6715729 4,16.5 L4,17 L7,17 L7,16.5 C7,15.6715729 6.32842712,15 5.5,15 Z" fill="#000000" opacity="0.9"/>
                                        </g>
                                    </svg><!--end::Svg Icon--></span> confidential </small>
                                </span>
                                <span><span class="kt-inbox__subject kt-inbox-subject1">{{ss.Title}}
                                    <small *ngIf="(ss.Attachment)" class="attchmt">
                                        <i class="fa fa-paperclip"></i>
                                    </small>
                                 </span> <span class="kt-inbox__user_count">{{ss.TotalAction}}/{{ss.Total}}</span></span>
                            </div>
                            <div class="kt_inde_memo_msg" [innerHTML]="ss.Matter">
                            </div>
                            <div class="kt-inbox__labels d-none">
                                <ng-container *ngIf="ss.MemoType=='General'">
                                    <span class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge--bold kt-badge--inline">
                                     {{ ss.MemoType }}
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="ss.MemoType=='Approval'">
                                    <span class="kt-inbox__label kt-badge kt-badge--unified-success kt-badge--bold kt-badge--inline">
                                        {{ ss.MemoType }}
                                    </span>
                                </ng-container>

                                <span *ngIf="ss.Status=='Reply Required'" class="kt-inbox__label kt-badge kt-badge--unified-brand kt-badge.kt-badge-light-bold kt-badge--inline">
                                {{ss.Status}}
                                </span>
                                <span *ngIf="ss.Status=='Approval Pending'" class="kt-inbox__label kt-badge kt-badge--unified-brand kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{ss.Status}}
                                </span>
                                <span *ngIf="ss.Status=='Expired'" class="kt-inbox__label kt-badge kt-badge--unified-brand kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{ss.Status}}
                                </span>
                                <span *ngIf="ss.Status=='Request Pending'" class="kt-inbox__label kt-badge kt-badge--unified-brand kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{ss.Status}}
                                </span>
                                <span *ngIf="ss.Status=='UnderProcess'" class="kt-inbox__label kt-badge kt-badge--unified-brand kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{ss.Status}}
                                </span>

                                <span *ngIf="ss.Status=='Done'" class="kt-inbox__label kt-badge kt-badge--unified-brand kt-badge.kt-badge-light-bold kt-badge--inline">
                                    {{ss.Status}}
                                </span>
                                <span class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge.kt-badge-light-bold kt-badge--inline">
                                {{ ss.FromUser }}
                                </span>
                                <span id="i_{{ss.MailId}}" [ngClass]="(ss.IsTag==true)?'kt-inbox__label kt-badge kt-badge--unified-hideskin kt-badge.kt-badge-light-bold kt-badge--inline':'kt-inbox__label kt-badge kt-badge--unified-hideskin kt-badge.kt-badge-light-bold kt-badge--inline d-none'">
                                <i class="fa fa-tag"></i>
                            </span>
                            </div>
                        </div>
                        <div class="kt-widget__details">
                            <div class="kt-section__content kt-section__content--solid">
                                <div class="kt-media-group">
                                    <ng-container *ngFor="let _icons of ss.UserIcons ; let i = index">
                                        <ng-container *ngIf="i<3">
                                            <a class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                                <ng-container *ngIf="_icons.UserHeaderThumbnail=='NA'">
                                                    <img src="https://yrglobaldocuments.blob.core.windows.net/documents/Users/user2.png" alt="image">
                                                </ng-container>
                                                <ng-container *ngIf="_icons.UserHeaderThumbnail!='NA'">
                                                    <img src="https://yrglobaldocuments.blob.core.windows.net/documents/{{_icons.UserHeaderThumbnail}}" alt="image">
                                                </ng-container>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                    <a *ngIf="ss.UserIcons.length > 3" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                        <span>{{ss.UserIcons.length - 3}}+</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div (click)="gotoMemoDetailsV2('Memo/Details',ss.MailId,ss.ReplyId)" class="kt-inbox__datetime">
                            {{ ss.MemoDate }}
                        </div>
                        <div class="memohover memohover-sm">
                            <div class="memohover_icon svg-icn">
                                <span id="Addlabel" (click)="$event.stopPropagation();" (click)="SingleMemoLabel(ss.MailId)">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                        font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M16 17H5V7h11l3.55 5m-1.92-6.16C17.27 5.33 16.67 5 16 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h11c.67 0 1.27-.34 1.63-.85L22 12l-4.37-6.16Z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <div class="memohover_icon svg-icn">
                                <span (click)="deletememo(ss.MailId)" title="Delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                        role="img" font-size="1.5rem" class="iconify iconify--mdi" width="1em" height="1em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12M8 9h8v10H8V9m7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5Z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <!-- <ng-container *ngIf="ss.MailView==true">
                                <div class="memohover_icon svg-icn">
                                    <span (click)="UpdateMailView(ss.ReplyId,false)" id="Markasunread">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                            font-size="1.5rem" width="1em" height="1em" viewBox="0 0 24 24"
                                            class="iconify iconify--mdi">
                                            <path fill="currentColor"
                                                d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10Z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="ss.MailView==false">
                                <div class="memohover_icon svg-icn">
                                    <span (click)="UpdateMailView(ss.ReplyId,true)" id="Markasread">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                            font-size="1.5rem" width="1em" height="1em" viewBox="0 0 24 24"
                                            class="iconify iconify--mdi">
                                            <g fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2">
                                                <path d="m3 9l9 6l9-6l-9-6l-9 6"></path>
                                                <path d="M21 9v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9m0 10l6-6m6 0l6 6">
                                                </path>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </ng-container> -->
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="_LstToMemos.length === 0" class="text-center py-4" style="color: lightgrey">
            <img src="assets/media/Img/Pending from Other.png">
            <h3 class="kt-blank-ttl" *ngIf="_ByFilters_Parameter==true"> {{ "Communication.Nopendingmessage" | translate }} </h3>
            <h3 class="kt-blank-ttl" *ngIf="_ByFilters_Parameter==false"> {{ "Communication.Nopendingmessage1" | translate }} </h3>
            <p class="kt-erorr-msg"> {{ "Communication.Couldnotpendingmessage" | translate }} </p>
            <!-- <h4 style="font-size: 1.5rem;">{{_filtersMessage}}</h4>
            <p> {{_filtersMessage2}}</p> -->
        </div>
    </div>
</div>
<div class="fltrs-dropdown" id="fltrs-drop">
    <div class="main-card place-card">
        <div class="main-card_body">
            <div class="w-100">
                <ul class="kt-nav">
                    <li class="kt-nav__head d-flex justify-content-between">
                        <div>Data Load Settings</div>
                    </li>

                    <li class="kt-nav__item px-4">
                        <div class="row">
                            <div class="col-lg-4 filter-border-right d-none">
                                <div class="dropdown">
                                    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownStatusButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Status
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownStatusButton">
                                        <div class="height-scroll">
                                            <label class="kt-checkbox kt-checkbox--info">
                                                <input type="checkbox" name="statuschk" >
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="opts-flx">
                                    <ng-container>
                                        <div class="selectd-opts">
                                            <div class="slt-div">
                                                <div class="opt-txt">

                                                </div>
                                            </div>
                                            <div class="removeButton" aria-hidden="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="rmv-icn w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M6 18L18 6M6 6l12 12">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-4 filter-border-right d-none">
                                <div class="dropdown">
                                    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownCompanyButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Company
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownCompanyButton">
                                        <div class="height-scroll">
                                            <label class="kt-checkbox kt-checkbox--info">
                                                <input type="checkbox" name="companychk" >
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="opts-flx">
                                    <ng-container>
                                        <div class="selectd-opts">
                                            <div class="slt-div">
                                                <div class="opt-txt">

                                                </div>
                                            </div>
                                            <div class="removeButton" aria-hidden="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="rmv-icn w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M6 18L18 6M6 6l12 12">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-4 filter-border-right">
                                <div class="dropdown">
                                    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownUsersButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Users
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownUsersButton">
                                        <div class="height-scroll">
                                            <label class="kt-checkbox kt-checkbox--info">
                                                <input type="checkbox" name="userschk"  >
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="opts-flx">
                                    <ng-container>
                                        <div class="selectd-opts">
                                            <div class="slt-div">
                                                <div class="opt-txt">

                                                </div>
                                            </div>
                                            <div class="removeButton" aria-hidden="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="rmv-icn w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M6 18L18 6M6 6l12 12">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-4 filter-border-right">
                                <div class="attachment">
                                    <input type="checkbox" id="hasattachment" name="hasattachment" value="hasattachment">
                                    <label class="labelattach" for="hasattachment"> Has Attachment</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="datdiv">
                                    <div class="datrange">
                                        <label>
                                            START
                                        </label>
                                        <input type="date" name="start" />

                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="kt-nav__separator"></li>
                    <div class="row px-4 d-none">
                        <div class="col-lg-4 filter-border-right">
                            <div class="attachment">
                                <input type="checkbox" id="hasattachment" name="hasattachment" value="hasattachment">
                                <label class="labelattach" for="hasattachment"> Has Attachment</label>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="datdiv">
                                <div class="datrange">
                                    <label>
                                        START
                                    </label>
                                    <input type="date" name="start"/>
                                </div>
                                <span class="divider">-</span>
                                <div class="datrange datrange2">
                                    <label>
                                      END
                                  </label>
                                    <input type="date" name="end"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="kt-nav__separator d-none"></li>
                </ul>
            </div>
            <div class="w-100 text-right">
                <input type="hidden" id="hdnFilterText">
                <input type="hidden" id="hdnFilterOrderType">
                <button class="btn btn-sm btn-secondary mr-2" (click)="clse_fltrs()">Close</button>
                <button class="btn btn-sm btn-secondary mr-2">Clear Filters</button>
                <button class="btn btn-sm btn-info">Filter</button>
            </div>
        </div>
    </div>
</div>
