<div class="kt-grid kt-grid--ver kt-grid--root kt-page" style="height: 100vh;">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop
         kt-grid--hor-tablet-and-mobile">

            <!--begin::Aside-->


            <!--begin::Aside-->

            <!--begin::Content-->
            <div
                class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
                <!--begin::Body-->
                <div class="kt-login__body">

                    <div class="kt-login-left kt-grid__item--order-tablet-and-mobile-2 kt-login__aside d-none">
                        <div class="kt-grid__item mb-5">
                            <a class="kt-login__logo">
                                <img src="assets/media/logos/dms-logo.png">
                            </a>
                        </div>
                        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                            <div class="kt-grid__item kt-grid__item--middle">
                                <h3 class="kt-login__title">Join Our Community!</h3>
                                <h4 class="kt-login__subtitle">
                                    A document management software is a system used to track, manage and store documents
                                    and reduce paper. Most are capable of keeping a record of the various versions
                                    created and modified by different users.</h4>
                            </div>
                        </div>
                        <div class="kt-grid__item mt-5">
                            <div class="kt-login__info">
                                <div class="kt-login__copyright">
                                    © 2023 DMS
                                </div>
                                <!-- <div class="kt-login__menu">
                                    <a href="#" class="kt-link">Privacy</a>
                                    <a href="#" class="kt-link">Legal</a>
                                    <a href="#" class="kt-link">Contact</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

 <div class="kt-login__form" >
                        <div class="text-center mb-3">
                            <a  class="kt-login__logo">
                                <img src="assets/media/logos/dms-logo.png">
                                <h4 class="logo-text">DMS</h4>
                            </a>
                        </div>
                       
                        <div>
                            <div class="kt-login__title mb-4">
                                <h3>Reset Your Password</h3>
                                <h5> Link will expire in : <small>{{LinkExpiry}} </small></h5>
                                
                                <!-- <p>Enter your email address and we will send you a link to reset your password.</p> -->
                            </div>
                        </div>
                        <form class="kt-form mb-0 mt-0" action=""
                            novalidate="novalidate" id="kt_login_form">
                             <div class="">
                                <h5 style="
    color: #535252;
">Hi, {{username}}</h5>
                                 
                            </div>
                            <div class="form-group">
                                 <div style="position: relative;">
                                     <i  alt="show" class="far fa-eye eye-show custom-icon" (click)="togglePasswordVisibility(true)"
                                    [class.hide]="showPassword" style="position: absolute;  top: 50%; transform: translateY(-50%); right: 10px;"></i>
                                <i  alt="hide"  class="far fa-eye-slash eye-hide custom-icon"
                                    (click)="togglePasswordVisibility(false)" [class.hide]="!showPassword"
                                    style="position: absolute;  top: 50%; transform: translateY(-50%); right: 10px;"></i>
                                <input class="form-control"[type]="showPassword ? 'text' : 'password'" placeholder="New Password"
                                    [(ngModel)]="NewPassword" name="emailid"
                                    autocomplete="off" />
                                    </div>
                            </div>
                             <div class="form-group">
                                 <div style="position: relative;">
                                     <i  alt="show" class="far fa-eye eye-show custom-icon" (click)="ConfirmtogglePasswordVisibility(true)"
                                    [class.hide]="showPasswords" style="position: absolute;  top: 50%; transform: translateY(-50%); right: 10px;"></i>
                                <i  alt="hide"  class="far fa-eye-slash eye-hide custom-icon"
                                    (click)="ConfirmtogglePasswordVisibility(false)" [class.hide]="!showPasswords"
                                    style="position: absolute;  top: 50%; transform: translateY(-50%); right: 10px;"></i>
                                <input class="form-control" [type]="showPasswords ? 'text' : 'password'" placeholder="Confirm Password"
                                    [(ngModel)]="ConfirmPassword" name="emailid"
                                    autocomplete="off" />
                                    </div>
                            </div>
                            <div class="text-center mt-4">
                                <button  id="kt_login_signin_submit"
                                (click)="ResetPassword()"
                                    class="btn btn-primary kt-btn px-5 w-100" >
                                    Reset Password
                                </button>
                            </div>
                        </form>
                        <!--end::Form-->
                        </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>