
/*=========== Mobile resposnvie =============*/

@media only screen and (max-width: 560px) {
    div#kt_inbox_aside {
        position: absolute;
        left: -325px;
        max-height: 100vh;
        z-index: 999;
    }
    .mbl-left-zero {
        left: 0px !important;
    }
    ::ng-deep .kt-body-arabic div#kt_inbox_aside {
        left: auto!important;
        right: -325px !important;
    }
    ::ng-deep .kt-body-arabic div#kt_inbox_aside.mbl-left-zero {
        left: auto !important;
        right: 0px !important;
    }
    .right-slide-menu-mbl {
        display: block;
        cursor: pointer;
    }
    .kt-container {
        padding-top: 0px !important;
    }
    .kt-portlet {
        margin-bottom: 0px !important;
    }
}