<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid side_view px-4">
    <div class="col-lg-12">
        <div class="component-main-header">
            <div class="component-main-header-title">
                <div class="mb-0">{{"Masterform.MapTemplateToCabinet" | translate}} </div>
            </div>
        </div>
        <!-- <h4 class="mb-3 pro-nm">{{"Masterform.MapTemplateToCabinet" | translate}}</h4> -->
        <!-- Document View Component -->
        <div class="card ribbon-box">
            <div class="card-header align-items-center d-flex py-3">
                <div class="flex-1">
                    <div class="search-bar">
                        <input type="text" class="form-control" [(ngModel)]="MapTemplateSearch" [placeholder]="SearchTemp" aria-controls="example">
                        <a class="close close-icn"><i *ngIf="MapTemplateSearch"  (click)="ClearSearch()" class="material-icons">close<i></i></i></a>
                    </div>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-info" style="display: block;" (click)="template_cabin_map_open()">
                        <i class="material-icons fs-4">add</i>
                        {{"Masterform.Add" | translate }}
                    </button>
                </div>
            </div>


            <div class="card-body p-0">
                <div class="mb-0 table-responsive">
                    <table class="table b-table">
                        <thead>
                            <tr>
                                <th>{{"Masterform.CabinetName" | translate }}</th>
                                <th>{{"Masterform.TemplateName" | translate }} </th>
                                <th>{{"Masterform.Barcodesequence" | translate }}</th>
                                <th>{{"Masterform.Action" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="(_MapJson|filter:MapTemplateSearch) as _MapJson">
                                <tr *ngFor="let item of _MapJson|filter:MapTemplateSearch">
                                    <td>
                                        {{item.CabinetName}}
                                        <span *ngIf="item.CabinietName_Ar"> / {{ item.CabinietName_Ar }}</span>
                                    </td>
                                    <td>
                                        {{item.TemplateName}}
                                    </td>
                                    <td>
                                        {{item.BarcodeSequence}}
                                    </td>
                                    <!-- [ngStyle]="{'color':item.Status=== true ? '#3f51b5' : 'red'}" -->
                                    <td [ngStyle]="{'color':item.IsActive=== true ? '#3f51b5' : 'red'}">
                                        <div *ngIf="item.IsActive" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-success curser-pointer w-min-70">
                                            Active
                                        </div>
                                        <div *ngIf="!item.IsActive" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-danger curser-pointer w-min-70">
                                            In-Active
                                        </div>
                                    </td>

                                </tr>
                                <ng-container *ngIf="_MapJson.length==0">
                                    <div class="d-flex-center kt-tb-error-box">
                                        <div class="m-auto text-center">
                                            <div class="svgs-1 kt-blank-msg">
                                                <img src="assets/media/Img/No Racks.png">
                                            </div>
                                            <h3 class="kt-blank-ttl"> {{"Masterform.NoTempleData" | translate }} </h3>
                                            <p class="kt-blank-msg"> {{"Masterform.NOtempleList" | translate }} </p>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="kt-aside-menu-overlay"></div>

<div id="template_cabin_map" class="wc-75 kt-quick-panel kt-quick-panel1 scroll-div">
    <a id="kt_quick_panel_close_btn" class="kt-quick-panel__close" (click)="template_cabin_map_close()">
        <i class="flaticon2-delete"></i>
    </a>
    <div id="kt_chat_content" class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="kt-chat">
            <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                <div class="kt-portlet__head">
                    <div class="kt-chat__head">
                        <div>
                            <div class="kt-chat__label">
                                <h4 class="mb-0 text-dark"> {{"Masterform.Mapcabintotemplate" | translate  }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body template_cabin_map_body">
                        <div class="form-group">
                            <label class="form-label">{{"Masterform.Cabinet" | translate }}:</label>
                            <span class="text-danger ml-1">*</span>
                            <ng-select [(ngModel)]="_CabinetArray" [placeholder]="SelectCabinet" >
                                <ng-option *ngFor="let item of _CabinetJson"  [value]="item.CabinetId" > {{item.CabinetName}}
                                    <span *ngIf="item.CabinietName_Ar"> / {{ item.CabinietName_Ar }}</span> </ng-option>
                            </ng-select>
                            <div class="kt-error" *ngIf="Cabineterrormessage && !_CabinetArray">
                                <span class="kt-error-msg">
                                 {{"Masterform.Cabinetdropdownerror" | translate }} </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{"Masterform.Template" | translate }}</label>
                        <span class="text-danger ml-1">*</span>
                        <ng-select [(ngModel)]="_TemplateArray" [placeholder]="SelectTemplate" class="TEST-CLASS">
                            <ng-option *ngFor="let temp of _TemplateJson" [value]="temp.TemplateId"> {{temp.TemplateName}} </ng-option>
                        </ng-select>
                        <div class="kt-error" *ngIf="Templateerrormessage && !_TemplateArray">
                            <span class="kt-error-msg">
                                   {{"Masterform.Tempdropdownerror" | translate }}</span>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                            <label class="form-label">Barcode sequence:</label>
                            <span class="text-danger ml-1">*</span>
                           <input type="text" class="form-control" [(ngModel)]="Barcodesequence"  placeholder="Enter Barcode sequence">
                           <div class="kt-error" *ngIf="Barcodeerrormessage && !Barcodesequence">
                            <span class="kt-error-msg">
                               Enter Barcode sequence</span>
                        </div>
                        </div> -->
                    <div class="barcode-seq-con">
                        <div class="barcode-seq-legend">{{"Masterform.BarcodeSequence" | translate}}</div>
                        <div class="form-group mb-3">
                            <label>{{"Masterform.Prefix" | translate }}:</label>
                            <input type="text" [(ngModel)]="prefix" class="form-control" [placeholder]="Enterprefix">
                        </div>
                        <div class="kt-error" *ngIf="prefixerrormessage && !prefix">
                            <span class="kt-error-msg">
                                   {{"Masterform.Enterprefix" | translate }}</span>
                        </div>
    
                        <div class="form-group mb-2">
                            <label>{{"Masterform.AutoIncrement" | translate }}:</label>
                            <input type="number" [(ngModel)]="autoIncrementValue" class="form-control" [placeholder]="Enternumber" >
                        </div>
                        <div class="kt-error" *ngIf="autoIncrementerrormessage && !autoIncrementValue">
                            <span class="kt-error-msg">
                                   {{"Masterform.EnterautoIncrement" | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__footer">
                    <button type="submit" class="btn btn-sm btn-info px-3" (click)="AddMapTemplate()">{{"Masterform.Submit" | translate  }}</button>
                    <button type="submit" class="btn btn-sm btn-secondary px-3" (click)="template_cabin_map_close()">{{"Masterform.Cancel" |translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>