<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid side_view px-4">
    <div class="col-lg-12">
        <div class="component-main-header">
            <div class="component-main-header-title">
                <div class="mb-0">{{"Masterform.BarcodeGenerate" | translate }} </div>
            </div>
        </div>
        <!-- <h4 class="mb-3 pro-nm">{{"Masterform.MapTemplateToCabinet" | translate}}</h4> -->
        <!-- Document View Component -->
        <div class="card ribbon-box">
            <div class="card-header align-items-center d-flex py-3">
                <div class="flex-1">
                    <div class="search-bar">
                        <input type="text" class="form-control" [(ngModel)]="BarcodeSearch" [placeholder]="SearchBarcode" aria-controls="example">
                        <!-- <a class="close close-icn">
                            <i (click)="ClearSearch()" class="material-icons">close</i>
                        </a> -->
                    </div>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-info" style="display: block;" (click)="generate_barcode_open()">
                        <i class="material-icons fs-4">add</i>
                        {{"Masterform.Generate" | translate }}
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="mb-0 table-responsive">
                    <table class="table b-table">
                        <thead>
                            <tr>
                                <th>{{"Masterform.BarcodeName" | translate }}</th>
                                <th>{{"Masterform.BarcodeSequence" | translate }}</th>
                                <th>{{"Masterform.Status" | translate }}</th>
                                <th>{{"Masterform.Action" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody class="position-relative">
                            <ng-container *ngIf="(BarCodeListJson |filter:BarcodeSearch ) as BarCodeListJson">
                                <tr *ngFor="let item of BarCodeListJson |filter: BarcodeSearch">
                                    <td>
                                      {{item.BarcodeName}}
                                    </td>

                                    <td>
                                       {{item.CombinedParts}}
                                    </td>
                                    <td [ngStyle]="{'color':item.IsActive=== true ? '#3f51b5' : 'red'}" (click)="UpdateStatus(item)">
                                        <div *ngIf="item.IsActive" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-success curser-pointer w-min-70">
                                            Active
                                        </div>
                                        <div *ngIf="!item.IsActive" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-danger curser-pointer w-min-70">
                                            In-Active
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a class="btn btn-outline d-flex align-items-center fs-5 btn-sm text-info p-0 mr-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16px"
                                                        height="16px" viewBox="0 0 24 24" fill="none" stroke="#2786fb"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-edit">
                                                        <path
                                                            d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                        </path>
                                                        <path
                                                            d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                        </path>
                                                    </svg>                                          
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container *ngIf="BarCodeListJson == 0" >
                                  <tr class="position-relative" style="height: 350px;">
                                    <div class="nobarcode">
                                        <img src="assets/media/Img/no bar code.png">
                                        <!-- <p>Noresult found.</p> -->
                                        <h3 class="kt-blank-ttl"> {{ "Masterform.NoDataCompany" |translate }} </h3>
                                        <p class="kt-blank-msg"> {{ "Masterform.NotfoundBarcodeList" | translate }} </p>
                                      </div>
                                  </tr>
                                </ng-container>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-aside-menu-overlay"></div>
<div id="generate_barcode" class="wc-75 kt-quick-panel kt-quick-panel1 scroll-div">
    <a id="kt_quick_panel_close_btn" class="kt-quick-panel__close" (click)="generate_barcode_close()">
        <i class="flaticon2-delete"></i>
    </a>
    <div id="kt_chat_content" class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="kt-chat">
            <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                <div class="kt-portlet__head">
                    <div class="kt-chat__head">
                        <div>
                            <div class="kt-chat__label">
                                <h4 class="mb-0 text-dark"> {{"Masterform.GenerateBarcode" | translate }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body generate_barcode_body">
                    <div class="form-group mb-4">
                            <input type="text"  class="form-control" [(ngModel)]="_BarcodeName" [placeholder]="EnterBarcodeName">
                            <div class="kt-error" *ngIf="BarcodeNameerrormessage && !_BarcodeName">
                                <span class="kt-error-msg">
                                    {{"Masterform.EnterBarcodeName" | translate }} </span>
                            </div>
                    </div>
                    
                    <div class="barcode-seq-con mb-4 mt-1">
                        <div class="barcode-seq-legend">{{"Masterform.BarcodeSequence" | translate }}</div>
                        <div class="radio-flex">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="barcodeOption" id="barcodeRadio1" (change)="togglebarcode('Prefix')"  [checked]="selectedOption === 'Prefix'"/>
                                <label class="form-check-label" for="barcodeRadio1">
                                    {{"Masterform.Prefix" | translate }}
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="barcodeOption" id="barcodeRadio2" (change)="togglebarcode('Auto Increment')"  [checked]="selectedOption === 'Auto Increment'"/>
                                <label class="form-check-label" for="barcodeRadio2">
                                    {{"Masterform.AutoIncrement" | translate }}
                                </label>
                              </div>
                        </div>
                        <div class="form-group mb-3"  *ngIf="selectedOption === 'Prefix'">
                            <label>Prefix</label>
                                <input type="text" [(ngModel)]="Prefix_Value" class="form-control" [placeholder]="Enterprefix">
                                <div class="kt-error" *ngIf="Prefixerrormessage && !Prefix_Value">
                                    <span class="kt-error-msg">
                                        {{"Masterform.Enterprefix" | translate }} </span>
                                </div>
                        </div>

                        <div class="form-group mb-0" *ngIf="selectedOption === 'Auto Increment'">
                            <label>Auto Increment</label>
                                    <div class="row">
                                        <div class="form-group mb-3 col-md-4">
                                            <input type="number"   (keypress)="allowOnlyNumbers($event)" class="form-control" [(ngModel)]="Seed_Value" [placeholder]="EnterSeed" >
                                            <div class="kt-error" *ngIf="Seederrormessage && !Seed_Value">
                                                <span class="kt-error-msg">
                                                    {{"Masterform.EnterSeed" | translate }} </span>
                                            </div>
                                    </div>
                                    <div class="form-group mb-3 col-md-4">
                                            <input type="number"   (keypress)="allowOnlyNumbers($event)" class="form-control" [(ngModel)]="Increment_Value" [placeholder]="EnterIncrement" >
                                            <div class="kt-error" *ngIf="Incrementerrormessage && !Increment_Value">
                                                <span class="kt-error-msg">
                                                    {{"Masterform.EnterIncrement" | translate }} </span>
                                            </div>
                                    </div>
                                    <div class="form-group mb-3 col-md-4">
                                            <ng-select placeholder="Increment Duration" [(ngModel)]="IncrementDuration_Value" class="TEST-CLASS">
                                                <ng-option [value]="'Yearly'" > Yearly </ng-option>
                                                <ng-option [value]="'Monthly'" > Monthly </ng-option>
                                                <ng-option [value]="'Daily'" > Daily </ng-option>
                                                <ng-option [value]="'Document'" > Document </ng-option>
                                            </ng-select>
                                            <div class="kt-error" *ngIf="IIncrementDurationerrormessage && !IncrementDuration_Value">
                                                <span class="kt-error-msg">
                                                    {{"Masterform.IncrementDuration" | translate }} </span>
                                            </div>
                                    </div>
                                    </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm btn-info" *ngIf="!ShownAddandhideAdd" (click)="AddBarcodeSequence()">{{"Masterform.Add" | translate }}</button>
                            <button class="btn btn-sm btn-info" *ngIf="ShownAddandhideAdd" (click)="UpdateBarcodeSequence()">{{"Masterform.Update" | translate }}</button>
                        </div>
                    </div>
                    <div class="barcode-seq-con mt-2">
                        <div class="barcode-seq-legend">{{"Masterform.BarcodePreview" | translate }}</div>
                        <div class="barcode-seq-info-ul">
                            <div class="barcode-seq-info-li" *ngFor="let item of BarcodeList"
                            [ngClass]="{ 'bar-focus': item.OrderId === selectedOrderId }">
                                <div class="barcode-image">
                                    <img src="assets/media/Img/pngwing.com.png">
                                </div>
                                <div class="barcode-seq">
                                     <div class="barcode-seq-item">
                                        <div class="barcode-seq-value">  {{ item.Type === 'Prefix' ? item.Seed : item.Seed }}</div>
                                        <div class="barcode-seq-action">
                                            <div class="barcode-seq-action-item barcode-edit" (click)="EditBarcodesequence(item.OrderId)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18.3785 8.44975L11.4637 15.3647C11.1845 15.6439 10.8289 15.8342 10.4417 15.9117L7.49994 16.5L8.08829 13.5582C8.16572 13.1711 8.35603 12.8155 8.63522 12.5363L15.5501 5.62132M18.3785 8.44975L19.7927 7.03553C20.1832 6.64501 20.1832 6.01184 19.7927 5.62132L18.3785 4.20711C17.988 3.81658 17.3548 3.81658 16.9643 4.20711L15.5501 5.62132M18.3785 8.44975L15.5501 5.62132" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5 20H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                            </div>
                                            <!-- <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
                                                <div class="barcode-change-control">
                                                    <input type="text" class="form-control" placeholder="Enter Value" value="2025">
                                                    <div class="d-flex align-items-center">
                                                        <button class="btn btn-sm btn-chng btn-barcode-change" type="button">
                                                            <svg width="64px" height="64px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 14L9 18L19 8"></path> </g></svg>
                                                        </button>
                                                        <button class="btn btn-sm btn-cncl btn-barcode-change" type="button">
                                                            <svg width="64px" height="64px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g stroke="currentColor" stroke-linecap="round" stroke-width="2"> <path d="M6 18L18 6"></path> <path d="M18 18L6 6"></path> </g> </g></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                              </div> -->
                                            <div  (click)="Deletebarcode(item.OrderId)"
                                             class="barcode-seq-action-item barcode-delete">
                                                <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 12V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                            </div>
                                        </div>
                                     </div>
                                     
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="BarcodeList.length !=0">
                        <div class="barcode-seq-info" *ngIf="BarcodeList.length !=0">
                            <div class="barcode-image-complete">
                                <img src="assets/media/Img/bar-code.PNG">
                            </div>
                            <!-- <div class="barcode-seq-complete" *ngFor="let item of BarcodeList" >
                                {{ item.Type === 'Prefix' ? item.Seed : item.Seed }}
                            </div> -->
                            <!-- <div class="barcode-seq-complete">
                                <ng-container *ngFor="let item of BarcodeList">
                                  <ng-container *ngIf="item.Type === 'Prefix' || item.Type === 'Auto Increment'">
                                    {{ item.Seed }}
                                  </ng-container>
                                </ng-container>
                              </div> -->
                              <div class="barcode-seq-complete">
                                {{ mergedBarcodeSeed }}
                              </div>
                              
                        </div>
                            <div class="barcode-seq-info" *ngIf="BarcodeList.length ==0" >
                                <img src="assets/media/Img/no bar code.png" >
                            </div>
                    </div>
                </div>
                <div class="kt-portlet__footer">
                    <button type="submit" class="btn btn-sm btn-info px-3" [disabled]="BarcodeList.length === 0" (click)="AddBarcode()" >{{"Masterform.Generate" | translate }}</button>
                    <button type="submit" class="btn btn-sm btn-secondary px-3" (click)="generate_barcode_close()">{{"Masterform.Close" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>