<div class="container">
    <div class="header">
        <h1>PDF Viewer and Signature Pad</h1>
    </div>
    <button class="open-signature-pad-button" (click)="openSignaturePad()">Open Signature Pad</button>
    <button class="open-signature-pad-button" (click)="downloadSignedPdf()">Download PDF</button>

    <!-- Signature Pad Popup -->
    <div class="signature-pad-popup" *ngIf="isSignaturePadOpen">
        <div class="signature-pad-container">
            <canvas #signaturePad></canvas>
            <div class="signature-buttons">
                <button (click)="clearSignature()">Clear</button>
                <button (click)="saveSignature()">Save</button>
                <button (click)="closeSignaturePad()">Close</button>
            </div>
        </div>
    </div>
    <div>
        <!-- <div *ngFor="let signature of signatures" class="signature-container" cdkDrag [attr.data-id]="signature.id" [style.left.px]="signature.x" [style.top.px]="signature.y" (cdkDragEnded)="onDragEnd($event)">
            <img [src]="signature.image" width="100" height="50" />
            <button (click)="removeSignature(signature.id)">Delete</button>
        </div> -->
        <div *ngFor="let signature of signatures" class="signature-container" cdkDrag [attr.data-id]="signature.id" (cdkDragStarted)="onDragStart($event, signature)" (cdkDragEnded)="onDragEnd($event, signature)">
            <img [src]="signature.image" width="100" height="50" />
            <div class="signature-tools">
                <div class="signature-tools-btn">
                    <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 7H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 10L7.70141 19.3578C7.87432 20.3088 8.70258 21 9.66915 21H14.3308C15.2974 21 16.1257 20.3087 16.2986 19.3578L18 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </div>
            </div>
        </div>

    </div>
    <!-- PDF Viewer Container (Signatures will be placed inside this) -->
    <div class="pdf-viewer-container" #pdfViewerContainer>

    </div>

</div>