::ng-deep div#kt_header {
    display: none;
}

::ng-deep body {
    background: #ffffff;
}

@media (min-width: 1025px) {
     ::ng-deep .kt-subheader--enabled:not(.kt-subheader--fixed) .kt-content {
        padding-top: 0px;
    }
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #868686;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* margin-bottom: 1rem; */
    margin-bottom: 4px;
}

.dashboard-header-title {
    font-size: 20px;
    color: #0b1528;
    font-weight: 500;
    text-transform: none;
}

.dashboard-header-date {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dashboard-header-date-icon {
    display: flex;
    align-items: center;
}

.dashboard-header-date-icon svg {
    width: 18px;
    height: 18px;
}

.dashboard-header-date-value {
    line-height: 0px;
}

.dashboard-body-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
    gap: 1.5rem;
    min-height: calc(100vh - 70px);
}

.dashboard-item {
    border: 2px solid #e2e2e2;
    border-radius: 16px;
    padding: 1rem;
    height: 100%;
}

.dashboard-item-header {
    margin-bottom: 1.5rem;
}

.dashboard-item-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.dashboard-item-tile {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.dashboard-item-subtitle {
    color: #969696;
    font-size: 12px;
}

.dashboard-item-chart {
    width: 44px;
}

.circular-chart {
    display: block;
    max-height: 50px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 4.8;
}

.circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.blue .circle {
    stroke: #095cb5;
}

.percentage {
    fill: #095cb5;
    font-size: 9px;
    text-anchor: middle;
    font-weight: 800;
}

.dashboard-smail-tiles-li {
    color: #6a6a6a;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f6f8fb;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
    padding: 1.1rem 1.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.dashboard-smail-tiles-li:hover {
    background-color: #eff4ff;
}

.dashboard-smail-tiles-li:last-child {
    margin-bottom: 0px;
}

.dashboard-smail-tiles-li-count {
    font-size: 22px;
    font-weight: 600;
}

.dashboard-smail-tiles-li-icon {
    width: 36px;
    height: 36px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #e4e4e4;
}

.dashboard-smail-tiles-li-control {
    line-height: 1.1;
}

.dashboard-docs-storage {
    margin-bottom: 1.5rem;
}

.dashboard-docs-storage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.dashboard-docs-storage-title {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.dashboard-docs-storage-used {
    color: #9d9d9d;
    font-size: 12px;
}

.dashboard-docs-storage-progress.progress {
    border-radius: 6px;
    background-color: #eaeaea;
}

.dashboard-docs-storage-progress.progress .progress-bar {
    background-color: #1642b3;
    border-radius: 6px;
}

.dashboard-docs-tiles-li {
    color: #000;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #f6f8fb;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.dashboard-docs-tiles-li:last-child {
    margin-bottom: 0px;
}

.dashboard-docs-tiles-li-count {
    font-size: 28px;
    font-weight: 600;
}

.dashboard-docs-tiles-li-icon {
    width: 60px;
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.dashboard-docs-tiles-li-icon svg {
    width: 46px;
    height: 46px;
}

.dashboard-docs-tiles-li-control {
    line-height: 1.1;
}

.dashboard-docs-tiles-li.pending-doc {
    background-color: #eef4dc;
}

.dashboard-docs-tiles-li.pending-doc:hover {
    background-color: #eef6d6;
}

.dashboard-docs-tiles-li.tray-doc {
    background-color: #fff7f4;
}

.dashboard-docs-tiles-li.tray-doc:hover {
    background-color: #ffefea;
}

.dashboard-docs-tiles-li.archive-doc {
    background-color: #fff5e1;
}

.dashboard-docs-tiles-li.archive-doc:hover {
    background-color: #fff2d8;
}

.dashboard-docs-tiles-li.shared-doc {
    background-color: #e3faff;
}

.dashboard-docs-tiles-li.shared-doc:hover {
    background-color: #d0f2f9;
}

.dashboard-docs-tiles-li-title {
    color: #686764;
    text-transform: uppercase;
}

.dashboard-item-banner-activity {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.banner-media img {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
    border-radius: 12px;
    /* box-shadow: 0px 0px 8px #919191; */
}

::ng-deep .banner-media .visually-hidden {
    display: none;
}

::ng-deep .banner-media .carousel-inner {
    border-radius: 12px;
    min-height: 240px;
}

::ng-deep .banner-media .carousel-indicators {
    bottom: 10px;
    gap: 4px;
}

::ng-deep .banner-media .carousel-indicators button {
    outline: none !important;
    border: none;
    opacity: 0.4;
    width: 12px;
    height: 3px;
    transition: all 0.2s ease-in-out, visibility 1s;
    border-radius: 4px;
}

::ng-deep .banner-media .carousel-indicators .active {
    opacity: 1;
    /* width: 20px; */
}

::ng-deep .banner-media .carousel-item {
    display: block !important;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: all 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86), visibility 0.75s;
    transform: scale(0.5);
    visibility: hidden;
}

::ng-deep .banner-media .carousel-item.active {
    position: relative;
    opacity: 1;
    transition: all 0.85s cubic-bezier(0.785, 0.135, 0.15, 0.86), visibility 0.85s;
    transform: scale(1);
    visibility: visible;
}

.dashboard-item.banner {
    height: auto;
    margin-bottom: 1.5rem;
}

.dashboard-activity-head {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.dashboard-activity-ul {
    position: relative;
    max-height: 320px;
    overflow: auto;
    padding-right: 6px;
}

.dashboard-activity-ul::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 6px;
}

.dashboard-activity-ul::-webkit-scrollbar-thumb {
    border: 0px solid #fff;
    background: #dadce0;
    border-radius: 8px;
    min-height: 40px;
}

.dashboard-activity-li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 40px;
    cursor: default;
}

.dashboard-activity-li:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 20px;
    border-left: 1px solid #a9a9a9;
}

.dashboard-activity-li-icon {
    background-color: #ccc;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 4px solid #fff;
    z-index: 2;
}

.dashboard-activity-li-icon svg {
    width: 22px;
    height: 22px;
}

.dashboard-activity-li-control {
    background-color: #cccccc3d;
    color: #6a6a6a;
    font-size: 11.5px;
    padding: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.dashboard-activity-li-user {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 120px;
    max-width: 120px;
}

.dashboard-activity-li-user-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard-activity-li-user-name {
    color: #000;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashboard-activity-li-user-info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 0px;
}

.dashboard-activity-li-time {
    position: absolute;
    color: #a7a7a7;
    background-color: #fff;
    font-size: 11px;
    padding: 2px 0px;
    top: 12px;
    z-index: 2;
}

.dashboard-activity-li:nth-child(1) .dashboard-activity-li-icon {
    background-color: #007bff;
}

.dashboard-activity-li:nth-child(1) .dashboard-activity-li-control {
    background-color: #ebf4ff;
}

.dashboard-activity-li:nth-child(2) .dashboard-activity-li-icon {
    background-color: #f7d268;
}

.dashboard-activity-li:nth-child(2) .dashboard-activity-li-control {
    background-color: #fefbf3;
}

.dashboard-activity-li:nth-child(3) .dashboard-activity-li-icon {
    background-color: #047326;
}

.dashboard-activity-li:nth-child(3) .dashboard-activity-li-control {
    background-color: #e6f1e9;
}

.dashboard-activity-li:nth-child(4) .dashboard-activity-li-icon {
    background-color: #e15656;
}

.dashboard-activity-li:nth-child(4) .dashboard-activity-li-control {
    background-color: #fae5e5;
}

.dashboard-activity-ul {
    max-height: calc(100vh - 400px);
}

@media (max-height: 620px) {
    .dashboard-activity-ul {
        max-height: 200px !important;
    }
}

@media (min-height: 640px) {
    .dashboard-docs-tiles-li {
        padding: 1.1rem;
        margin-bottom: 2rem;
    }
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1.2rem;
        margin-bottom: 2rem;
        padding: 1.2rem 1.8rem;
        margin-bottom: 1.2rem;
    }
}

@media (min-height: 660px) {
    .dashboard-docs-tiles-li {
        padding: 1.3rem;
        margin-bottom: 2rem;
    }
    .dashboard-smail-tiles-li {
        padding: 1.7rem 1.4rem;
        margin-bottom: 2rem;
        padding: 1.2rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 680px) {
    .dashboard-docs-tiles-li {
        padding: 1.4rem;
        margin-bottom: 2rem;
    }
    .dashboard-smail-tiles-li {
        padding: 1.8rem 1.5rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 700px) {
    .dashboard-docs-tiles-li {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .dashboard-smail-tiles-li {
        padding: 1.9rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 720px) {
    .dashboard-docs-tiles-li {
        padding: 1.5rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 68px;
        height: 68px;
    }
    .dashboard-smail-tiles-li {
        padding: 1.9rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 42px;
        height: 42px;
    }
}

@media (min-height: 740px) {
    .dashboard-docs-tiles-li {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 74px;
        height: 74px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 54px;
        height: 54px;
    }
    .dashboard-smail-tiles-li {
        padding: 1.9rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 48px;
        height: 48px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 26px;
        height: 26px;
    }
}

@media (min-height: 760px) {
    .dashboard-docs-tiles-li {
        padding: 1.6rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 76px;
        height: 76px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 54px;
        height: 54px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 34px;
    }
    .dashboard-smail-tiles-li {
        padding: 2rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 48px;
        height: 48px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 26px;
        height: 26px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 26px;
    }
}

@media (min-height: 780px) {
    .dashboard-docs-tiles-li {
        padding: 1.6rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 80px;
        height: 80px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 54px;
        height: 54px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 38px;
    }
    .dashboard-smail-tiles-li {
        padding: 2rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 52px;
        height: 52px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 26px;
        height: 26px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 30px;
    }
}

@media (min-height: 800px) {
    .dashboard-docs-tiles-li {
        padding: 1.6rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 86px;
        height: 86px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 58px;
        height: 58px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 38px;
    }
    .dashboard-smail-tiles-li {
        padding: 2rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 56px;
        height: 56px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 30px;
        height: 30px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 30px;
    }
}

@media (min-height: 820px) {
    .dashboard-docs-tiles-li {
        padding: 1.6rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 90px;
        height: 90px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 62px;
        height: 62px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 46px;
    }
    .dashboard-smail-tiles-li {
        padding: 2rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 60px;
        height: 60px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 34px;
        height: 34px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 34px;
    }
}

@media (min-height: 840px) {
    .dashboard-docs-tiles-li {
        padding: 1.8rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 90px;
        height: 90px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 62px;
        height: 62px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 46px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.1rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.4rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 60px;
        height: 60px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 34px;
        height: 34px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 34px;
    }
}

@media (min-height: 860px) {
    .dashboard-docs-tiles-li {
        padding: 1.8rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 90px;
        height: 90px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 62px;
        height: 62px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 46px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.1rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 60px;
        height: 60px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 34px;
        height: 34px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 34px;
    }
    .dashboard-item-chart {
        width: 50px;
    }
    .dashboard-item-tile {
        font-size: 18px;
    }
    .dashboard-item-subtitle {
        font-size: 14px;
    }
}

@media (min-height: 880px) {
    .dashboard-docs-tiles-li {
        padding: 1.8rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 94px;
        height: 94px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 62px;
        height: 62px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 46px;
    }
    .dashboard-docs-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.1rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 64px;
        height: 64px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 34px;
        height: 34px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 34px;
    }
    .dashboard-smail-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-item-chart {
        width: 50px;
    }
    .dashboard-item-tile {
        font-size: 20px;
    }
    .dashboard-item-subtitle {
        font-size: 16px;
    }
    .dashboard-docs-storage-header {
        font-size: 14px;
    }
    .dashboard-docs-storage-used {
        font-size: 13px;
    }
}

@media (min-height: 900px) {
    .dashboard-docs-tiles-li {
        padding: 1.8rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 100px;
        height: 100px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 68px;
        height: 68px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 50px;
    }
    .dashboard-docs-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.1rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 70px;
        height: 70px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 38px;
        height: 38px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 38px;
    }
    .dashboard-smail-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-item-chart {
        width: 50px;
    }
    .dashboard-item-tile {
        font-size: 20px;
    }
    .dashboard-item-subtitle {
        font-size: 16px;
    }
    .dashboard-docs-storage-header {
        font-size: 14px;
    }
    .dashboard-docs-storage-used {
        font-size: 13px;
    }
}

@media (min-height: 920px) {
    .dashboard-docs-tiles-li {
        padding: 1.8rem;
        margin-bottom: 2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 104px;
        height: 104px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 68px;
        height: 68px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 50px;
    }
    .dashboard-docs-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.1rem 1.6rem;
        margin-bottom: 2rem;
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 73px;
        height: 73px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 38px;
        height: 38px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 38px;
    }
    .dashboard-smail-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-item-chart {
        width: 50px;
    }
    .dashboard-item-tile {
        font-size: 20px;
    }
    .dashboard-item-subtitle {
        font-size: 16px;
    }
    .dashboard-docs-storage-header {
        font-size: 14px;
    }
    .dashboard-docs-storage-used {
        font-size: 13px;
    }
}

@media (min-height: 940px) {
    .dashboard-docs-tiles-li {
        padding: 2rem;
        margin-bottom: 2.2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 104px;
        height: 104px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 68px;
        height: 68px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 50px;
    }
    .dashboard-docs-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.2rem 1.8rem;
        margin-bottom: 2.2rem;
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 73px;
        height: 73px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 38px;
        height: 38px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 38px;
    }
    .dashboard-smail-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-item-chart {
        width: 50px;
    }
    .dashboard-item-tile {
        font-size: 20px;
    }
    .dashboard-item-subtitle {
        font-size: 16px;
    }
    .dashboard-docs-storage-header {
        font-size: 14px;
    }
    .dashboard-docs-storage-used {
        font-size: 13px;
    }
}

@media (min-height: 960px) {
    .dashboard-docs-tiles-li {
        padding: 2rem;
        margin-bottom: 2.2rem;
    }
    .dashboard-docs-tiles-li-icon {
        width: 104px;
        height: 104px;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 68px;
        height: 68px;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 50px;
    }
    .dashboard-docs-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-smail-tiles-li {
        padding: 2.2rem 1.8rem;
        margin-bottom: 2.2rem;
        padding: 1.6rem 1.8rem;
        margin-bottom: 1.6rem;
    }
    .dashboard-smail-tiles-li-icon {
        width: 73px;
        height: 73px;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 38px;
        height: 38px;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 38px;
    }
    .dashboard-smail-tiles-li-title {
        font-size: 16px;
    }
    .dashboard-item-chart {
        width: 50px;
    }
    .dashboard-item-tile {
        font-size: 20px;
    }
    .dashboard-item-subtitle {
        font-size: 16px;
    }
    .dashboard-docs-storage-header {
        font-size: 14px;
    }
    .dashboard-docs-storage-used {
        font-size: 13px;
    }
}

@media (min-width: 1600px) {
    .banner-media img {
        min-height: 260px;
        max-height: 260px;
    }
     ::ng-deep .banner-media .carousel-inner {
        min-height: 260px;
    }
    .dashboard-activity-ul {
        max-height: calc(100vh - 420px);
    }
}

@media (min-width: 1800px) {
    .banner-media img {
        min-height: 280px;
        max-height: 280px;
    }
     ::ng-deep .banner-media .carousel-inner {
        min-height: 280px;
    }
    .dashboard-activity-ul {
        max-height: calc(100vh - 440px);
    }
}

@media (min-width: 1900px) {
    .banner-media img {
        min-height: 300px;
        max-height: 300px;
    }
     ::ng-deep .banner-media .carousel-inner {
        min-height: 300px;
    }
    .dashboard-activity-ul {
        max-height: calc(100vh - 460px);
    }
}

@media (min-width: 2000px) {
    .banner-media img {
        min-height: 320px;
        max-height: 320px;
    }
     ::ng-deep .banner-media .carousel-inner {
        min-height: 320px;
    }
    .dashboard-activity-ul {
        max-height: calc(100vh - 480px);
    }
}

::ng-deep .kt-body-arabic .dashboard-docs-tiles-li-control {
    text-align: justify;
}

::ng-deep .kt-body-arabic .dashboard-item-control {
    text-align: justify;
}

::ng-deep .kt-body-arabic .dashboard-smail-tiles-li-control {
    text-align: justify;
}

::ng-deep .kt-body-arabic .dashboard-item.activity {
    text-align: right;
}

::ng-deep .kt-body-arabic .dashboard-activity-li:before {
    right: 20px !important;
    left: auto !important;
}

.no-dashboard-activity-li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no-dashboard-activity-li img {
    width: 190px;
}

.banner-media-vote {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
    overflow: hidden;
}

.banner-media-vote-poll-ul {
    min-height: 220px;
    max-height: 220px;
    overflow: auto;
    padding-right: 6px;
}

.banner-media-vote-poll-ul::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 6px;
}

.banner-media-vote-poll-ul::-webkit-scrollbar-thumb {
    border: 0px solid #fff;
    background: #dadce0;
    border-radius: 8px;
    min-height: 40px;
}

.banner-media-vote h5 {
    color: #000;
}

.banner-media-vote-poll-li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
    color: #000;
}

.banner-media-vote-poll-radio .form-check {
    padding-left: 0;
}

.banner-media-vote-poll-radio .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

.banner-media-vote-poll-bar {
    flex: 1;
    padding-right: 1rem;
}

.banner-media-vote-poll-bar .progress {
    background-color: #e3e3e3;
    height: 8px;
    border-radius: 16px;
}

.progress-bar.poll-high {
    background-color: #7fb4ef;
}

.progress-bar.poll-medium {
    background-color: #f0b869;
}

.progress-bar.poll-low {
    background-color: #f290a2;
}

@media (min-width: 1600px) {
    .banner-media-vote {
        min-height: 260px;
        max-height: 260px;
    }
    .banner-media-vote-poll-ul {
        min-height: 240px;
        max-height: 240px;
    }
}

@media (min-width: 1800px) {
    .banner-media-vote {
        min-height: 280px;
        max-height: 280px;
    }
    .banner-media-vote-poll-ul {
        min-height: 260px;
        max-height: 260px;
    }
}

@media (min-width: 1900px) {
    .banner-media-vote {
        min-height: 300px;
        max-height: 300px;
    }
    .banner-media-vote-poll-ul {
        min-height: 280px;
        max-height: 280px;
    }
}

@media (min-width: 2000px) {
    .banner-media-vote {
        min-height: 320px;
        max-height: 320px;
    }
    .banner-media-vote-poll-ul {
        min-height: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .dashboard-body-container {
        grid-template-columns: 1fr;
    }
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1rem !important;
        margin-bottom: 1.5rem !important;
    }
    .dashboard-docs-tiles-li {
        padding: 1rem !important;
        margin-bottom: 1.5rem !important;
    }
    .dashboard-docs-tiles-li-count {
        font-size: 28px !important;
    }
    .dashboard-docs-tiles-li-icon {
        width: 60px !important;
        height: 60px !important;
    }
    .dashboard-docs-tiles-li-icon svg {
        width: 46px !important;
        height: 46px !important;
    }
    .dashboard-smail-tiles-li-count {
        font-size: 22px !important;
    }
    .dashboard-smail-tiles-li-icon {
        width: 36px !important;
        height: 36px !important;
    }
    .dashboard-smail-tiles-li-icon svg {
        width: 24px !important;
        height: 24px !important;
    }
}

.dms-dash-activity-ul {
    position: relative;
    padding-right: 6px;
}

.dms-dash-activity-li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
    cursor: default;
}

.dms-dash-activity-li:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 20px;
    border-left: 1px solid #a9a9a9;
}

.dms-dash-activity-li-icon {
    background-color: #ccc;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 4px solid #fff;
    z-index: 2;
}

.dms-dash-activity-li-icon svg {
    width: 22px;
    height: 22px;
}

.dms-dash-activity-li-control {
    background-color: #cccccc3d;
    color: #6a6a6a;
    font-size: 11.5px;
    padding: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.dms-dash-activity-li-user-name {
    margin-top: 4px;
    text-align: right;
}

.dms-dash-activity-li-user-info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 0px;
}

.dms-dash-activity-li-time {
    position: absolute;
    color: #a7a7a7;
    background-color: #fff;
    font-size: 11px;
    padding: 2px 0px;
    top: 4px;
    z-index: 2;
}

.dms-dash-activity-li.activity-newmemo .dms-dash-activity-li-icon {
    background-color: #007bff;
}

.dms-dash-activity-li.activity-newmemo .dms-dash-activity-li-control {
    background-color: #ebf4ff;
}

.dms-dash-activity-li.activity-attachment .dms-dash-activity-li-icon {
    background-color: #f7d268;
}

.dms-dash-activity-li.activity-attachment .dms-dash-activity-li-control {
    background-color: #fefbf3;
}

.dms-dash-activity-li.activity-adduser .dms-dash-activity-li-icon {
    background-color: #047326;
}

.dms-dash-activity-li.activity-adduser .dms-dash-activity-li-control {
    background-color: #e6f1e9;
}

.dms-dash-activity-li.activity-remove .dms-dash-activity-li-icon {
    background-color: #e15656;
}

.dms-dash-activity-li.activity-remove .dms-dash-activity-li-control {
    background-color: #fae5e5;
}

.dms-dash-activity-li.activity-workflow .dms-dash-activity-li-icon {
    background-color: #9c27b0;
}

.dms-dash-activity-li.activity-workflow .dms-dash-activity-li-control {
    background-color: #fce9ff;
}


.dms-dash-activity-li.activity-document .dms-dash-activity-li-icon {
    background-color: #ff8900;
}

.dms-dash-activity-li.activity-document .dms-dash-activity-li-control {
    background-color: #fff0e0;
}
.dms-dash-activity-li.activity-restore .dms-dash-activity-li-icon {
    background-color: #ff5722;
}

.dms-dash-activity-li.activity-restore .dms-dash-activity-li-control {
    background-color: #ffede7;
}

.dms-dash-activity-li.activity-reply .dms-dash-activity-li-icon {
    background-color: #a846b2;
}

.dms-dash-activity-li.activity-reply .dms-dash-activity-li-control {
    background-color: #fce9ff;
}

.dms-dash-activity-li.activity-approve .dms-dash-activity-li-icon {
    background-color: #349138;
}

.dms-dash-activity-li.activity-approve .dms-dash-activity-li-control {
    background-color: #e6f1e9;
}

.dms-dash-activity-li.activity-reject .dms-dash-activity-li-icon {
    background-color: #F5544A;
}

.dms-dash-activity-li.activity-reject .dms-dash-activity-li-control {
    background-color: #fae5e5;
}

.dms-dash-activity-li-control {
    width: 100%;
}

.dms-dash-activity-li-control {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.dms-dash-activity-li-control:hover {
    transform: scale(0.98);
}

.dashboard-smail-tiles-li {
    padding: 1.1rem 1.8rem;
    margin-bottom: 1rem;
}

@media (min-height: 640px) {
    .dashboard-smail-tiles-li {
        padding: 1.2rem 1.8rem;
        margin-bottom: 1.1rem;
    }
}

@media (min-height: 660px) {
    .dashboard-smail-tiles-li {
        padding: 1.2rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 680px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 700px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 720px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 740px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 760px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 780px) {
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 800px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 820px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 840px) {
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-height: 860px) {
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 880px) {
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 900px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 920px) {
    .dashboard-smail-tiles-li {
        padding: 1.4rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 940px) {
    .dashboard-smail-tiles-li {
        padding: 1.5rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

@media (min-height: 960px) {
    .dashboard-smail-tiles-li {
        padding: 1.6rem 1.8rem;
        margin-bottom: 1.6rem;
    }
}

.dashboard-smail-tiles-li.disable {
    cursor: no-drop;
}

::ng-deep .dms-dash-activity-li-user-info p * {
    display: contents;
}

::ng-deep .dms-dash-activity-li-user-info img {
    width: 100%;
    height: auto;
}

.dashboard-smail-tiles-li {
    cursor: no-drop;
}