<!-- Filter By Name -->

<!-- Total No Of Items  -->
<!-- <p class="totalItems" style="color:#3f51b5">Total items :<b> {{_DocTypeList.length}}</b></p> -->

<!-- Table -->
<!-- <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th>DocumentType Name</th>
            <th>Note</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f1 of _DocTypeList">
            <td>
                {{f1.DocumentTypeName}}
            </td>
            <td>
                {{f1.Description}}
            </td>
            <td [ngStyle]="{'color':f1.IsActive=== true ? '#3f51b5' : 'red'}" (click)="UpdateStatus(f1)">
                <div *ngIf="f1.IsActive"
                    class="kt-badge kt-badge--inline text-white px-3 fs-8 kt-badge--pill bg-suc curser-pointer">
                    Active
                </div>
                <div *ngIf="!f1.IsActive"
                    class="kt-badge kt-badge--inline text-white px-3 fs-8 kt-badge--pill bg-dan curser-pointer">
                    In-Active
                </div>
            </td>
            <td>
                <a class="btn btn-outline btn-circle fs-5 btn-sm text-info px-0" (click)="populateForm(f1)">
                    <i class="material-icons fs-4">edit</i><span>Edit</span>
                </a>
            </td>
        </tr>
    </tbody>
</table> -->