<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-8 m-auto">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="card-title m-0">
                        <h3 class="font-bolder m-0">{{ "Setting.ChangePassword" | translate }}</h3>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <form class="form-horizontal">
                                <div class="row mb-4">
                                    <label for="" class="col-4 col-xl-3 col-form-label">{{ "Setting.CurrentPassword" | translate }}</label>
                                    <div class="col-8 col-xl-9">
                                        <div class="">
                                            <input type="password" class="form-control br-rdi" id="txtOldPassword" [placeholder]="CurrentPassword">
                                            <span class="m-auto"><i id="gifloader" style="display: none;" class="fas fa-spinner fa-spin ml-1"></i>
                                            <i id="checkicon" style="display: none;" class="fa fa-check ml-1"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="" class="col-4 col-xl-3 col-form-label">{{ "Setting.NewPassword" | translate }}</label>
                                    <div class="col-8 col-xl-9">
                                        <input type="password" class="form-control" id="txtNewPassword" [placeholder]="NewPassword">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="" class="col-4 col-xl-3 col-form-label">{{ "Setting.RetypeNewPassword" | translate }}</label>
                                    <div class="col-8 col-xl-9">
                                        <input type="password" class="form-control" id="txtRetypeNewPassword" [placeholder]="RetypePassword">
                                    </div>
                                </div>
                                <div class="row mb-3 justify-content-end">
                                    <div class="col-8 col-xl-9">
                                        <div class="form-check">
                                            <input type="checkbox" (click)="myFunction()" class="form-check-input" id="yourCheckboxId">
                                            <label class="form-check-label ml-1" for="">{{ "Setting.ShowPassword" | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="justify-content-end mt-3 row">
                                    <div class="col-8 col-xl-9">
                                        <a (click)="UpdatePassword()" style="color: white;" class="btn btn-info waves-effect waves-light mr-2">{{ "Setting.Update" | translate }}</a>
                                        <button type="submit" (click)="ClearPasswordss()" class="btn btn-secondary waves-effect waves-light">{{ "Setting.Cancel" | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end row-->

                </div>
            </div>
        </div>
    </div>
</div>