<!-- Display X and Y Positions -->
<div class="position-display">
    <p>X Position: {{ position.x }} px</p>
    <p>Y Position: {{ position.y }} px</p>

    <a (click)="AddPositions()">Add Positions</a>
</div>
<div class="pdf-container" #pdfContainer>
    <!-- Draggable custom template -->
    <div class="draggable-box" cdkDrag cdkDragBoundary=".pdf-container" (cdkDragEnded)="onDragEnd($event)">
        <div class="workspace" #workspaceContainer [style.width.px]="workspaceWidth" [style.height.px]="workspaceHeight" [style.background-color]="workspaceBgColor" [style.border]="workspaceBorderWidth + 'px solid ' + workspaceBorderColor" [style.border-radius.px]="workspaceBorderRadius"
            (contextmenu)="openWorkspaceContextMenu($event)">


            <div *ngFor="let element of workspaceData.elements; let i = index" class="resizable-draggable" [style.width.px]="element.width" [style.height.px]="element.height" [style.fontSize.px]="element.fontSize" [style.background-color]="element.backgroundColor || '#ffffff'"
                [style.transform]="'translate(' + element.x + 'px, ' + element.y + 'px)'" (contextmenu)="openContextMenu($event, i)">



                <span *ngIf="element.valueType === 'userDefined'">
                {{ element.staticText }}
            </span>


                <img *ngIf="element.type === 'image' && element.fileUrl" [src]="element.fileUrl" class="uploaded-file" />


                <div *ngIf="element.type === 'barcode'" class="barcode-container">
                    <canvas [id]="'barcode-' + i" [style.width.px]="element.width" [style.height.px]="element.height"></canvas>
                </div>

                <svg *ngIf="element.type === 'systemDefined'" [attr.x]="element.x" [attr.y]="element.y" [attr.width]="element.width + 10" [attr.height]="element.height + 5">
      
      <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
            [style.fill]="element.fontColor"
            [style.font-size.px]="element.fontSize || 10"
            [style.font-weight]="element.text === '{{code}}' ? 'bold' : element.fontWeight"
            [style.font-style]="element.fontStyle">
    
        
        <ng-container *ngIf="element.text === '{{code}}' && isTextTooLong(bindValue(element), element.width); else singleLineText">
          <tspan x="50%" dy="-6">{{ getFirstLine(bindValue(element)) }}</tspan>
          <tspan x="50%" dy="14">{{ getSecondLine(bindValue(element)) }}</tspan>
        </ng-container>
    
         
        <ng-template #singleLineText>
          <tspan x="50%">{{ bindValue(element) }}</tspan>
        </ng-template>
    
      </text>
    </svg>


            </div>
        </div>
    </div>


    <div id="pdfViewer" class="rendered-pdf"></div>
</div>