<!-- <mat-progress-bar class="kt-header kt-grid kt-grid--ver kt-header--fixed" *ngIf="spinnerService.visibility | async" mode="indeterminate">
</mat-progress-bar> -->
<!-- <ng-http-loader [backdrop]="false" [backgroundColor]="'#0000A0'" [debounceDelay]="100" [extraDuration]="300" [minDuration]="300" [opacity]=".6" [spinner]="spinkit.skWave">
</ng-http-loader> -->
<!-- <ng-progress></ng-progress> -->
<!-- <ng-http-loader [entryComponent]="prg" mode="indeterminate"></ng-http-loader> -->

<router-outlet></router-outlet>

<!-- <div class="kt-aside-menu-overlay"></div>
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
       
        <router-outlet></router-outlet>
    </div>
</div> -->