<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid side_view">
    <div class="col-lg-12">
        <div class="component-main-header">
            <div class="component-main-header-title">
                <h4 class="mb-0">{{ "Masterform.Cabinet" | translate }} </h4>
            </div>
        </div>
        <!-- <h4 class="mb-3 pro-nm"> {{"Masterform.Cabinet" | translate }} </h4> -->
        <!-- Document View Component -->
        <div class="card ribbon-box">
            <div class="card-header align-items-center d-flex py-3">
                <div class="flex-1">
                    <div class="search-bar">
                        <input type="text" class="form-control" [(ngModel)]="CabinetSerach" [placeholder]="Cabinet_search"
                            aria-controls="example">
                            <a class="close close-icn"><i *ngIf="CabinetSerach"  (click)="ClearSearch()" class="material-icons">close<i></i></i></a>
                    </div>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-info" style="display: block;" id="cabinet_add"
                        (click)="cabinet_add()">
                        <i class="material-icons fs-4">add</i>
                        {{"Masterform.AddCabinet" | translate }}
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="mb-0 table-responsive">
                    <table class="table b-table">
                        <thead>
                            <tr>
                                <th>{{"Masterform.NameEN" | translate }}</th>
                                <th> {{"Masterform.NameAR" | translate }} </th>
                                <th>{{"Masterform.Status" | translate }}</th>
                                <th>{{"Masterform.Action"| translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="(NewCabinetList|filter:CabinetSerach) as NewCabinetList">
                                <tr *ngFor="let item of NewCabinetList |filter:CabinetSerach">
                                    <td>
                                        {{item.CabinetName}}
                                    </td>
                                    <td>
                                        {{item.CabinietName_Ar}}
                                    </td>
                                        <td [ngStyle]="{'color':item.Status=== true ? '#3f51b5' : 'red'}"
                                        (click)="UpdateStatus(item)">
                                        <div *ngIf="item.Status"
                                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-success curser-pointer w-min-70">
                                            Active
                                        </div>
                                        <div *ngIf="!item.Status"
                                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-danger curser-pointer w-min-70">
                                            In-Active
                                        </div>
                                    </td>
                                    <td>
                                       <a (click)="EditCabinet(item)" class="btn btn-outline btn-circle fs-5 btn-sm text-info px-0">
                                            <span class="mr-2">
                                                <svg data-v-9a6e255c="" xmlns="http://www.w3.org/2000/svg" width="14px"
                                                    height="14px" viewBox="0 0 24 24" fill="none" stroke="#2786fb"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-edit">
                                                    <path data-v-9a6e255c=""
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path data-v-9a6e255c=""
                                                        d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </span><span class="align-middle">{{"Masterform.Edit" | translate }}</span>
                                        </a>
                                    </td>
                                </tr> 
                                <ng-container *ngIf="NewCabinetList==0">
                                    <div class="d-flex-center kt-tb-error-box">
                                        <div class="m-auto text-center">
                                            <div class="svgs-1 kt-blank-msg">
                                                <img src="assets/media/Img/No Racks.png">
                                            </div>
                                            <h3 class="kt-blank-ttl"> {{ "Masterform.NoDataCompany" |translate }} </h3>
                                            <p class="kt-blank-msg"> {{ "Masterform.NotfoundCabinet" | translate }} </p> 
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-aside-menu-overlay" (click)="closeInfo()"></div>
<div id="addrck" class="addrck wc-75 kt-quick-panel kt-quick-panel1 scroll-div">
    <a id="kt_quick_panel_close_btn" class="kt-quick-panel__close" (click)="closeInfo()">
        <i class="flaticon2-delete"></i>
    </a>
    <div id="kt_chat_content" class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="kt-chat">
            <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                <div class="kt-portlet__head">
                    <div class="kt-chat__head">
                        <div>
                            <div class="kt-chat__label">
                                <h4 class="mb-0" id="editrck"> Add Cabinet</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body" style="    height: calc(100vh - 120px);">
                            <div class="form-cus mb-3">
                                        <label >{{"Masterform.CabinetName" | translate }} <span style="font-weight: bold;">[English]</span> </label>
                                        <span class="text-danger ml-1">*</span>
                                        <input type="text"  [(ngModel)]="CabinetName"
                                            class="form-control" [placeholder]="Entercabinetname"
                                            required minlength="3"
                                            maxlength="50" />
                                            <div class="kt-error" *ngIf="Cabineterrormessage && !CabinetName">
                                                <span class="kt-error-msg">
                                                    {{"Masterform.errormsg" | translate }} </span>
                                            </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-cus mb-3">
                                        <label style=" direction: rtl; width: 100%; text-align: right;" >{{"Masterform.CabinetName" | translate }} <span style="font-weight: bold;">[عربي]</span></label>
                                        <!-- <span class="text-danger ml-1">*</span> -->
                                        <input type="text"  [(ngModel)]="CabinetNameArabic"
                                            class="form-control" placeholder="أدخل اسم الخزانة"
                                            required minlength="3" style=" direction: rtl;"
                                            maxlength="50" />
                                            <div  style=" direction: rtl; width: 100%; text-align: right;" class="kt-error" *ngIf="Cabineterrormessagear && !CabinetNameArabic">
                                                <span class="kt-error-msg">
                                                    أدخل اسم الخزانة</span>
                                            </div>
                                        <div>
                                        </div>
                                    </div>
                                <div class="form-cus">
                                    <label class="form-label">{{"Masterform.Status" | translate }}</label>
                                    <div>
                                        <mat-slide-toggle color="primary" [(ngModel)]="Status">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                </div>
                <div class="kt-portlet__footer">
                    <button  *ngIf='!isShow' class="btn btn-sm btn-info px-3" (click)="AddCabinet()" >
                        {{"Masterform.Add" | translate }}
                    </button>
                    <button type="submit" *ngIf='isShow' class="btn btn-sm btn-info px-3 mt-2 mr-2"
                    (click)="AddCabinet()">{{"Masterform.Update" | translate }} </button>
                    <button class="btn btn-sm btn-secondary px-3" (click)="closeInfo()" >
                        {{"Masterform.Cancel" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>