<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_wrapper">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="col-lg-12">                
                <h4 class="mb-3">Custom/Dynamic Memo Type </h4>                
                <!-- Steppers -->
                    <ul class="stepper horizontal linear">
                        <li class="step active">
                            <div class="step-title waves-effect last1" data-step-label="Add User Personal Details">Memo Type</div>
                            <div class="step-content">
                                <div class="card">
                                <div class="card-body">
                                    <form>
                                        <div class="d-flex flex-wrap justify-content-start align-items-baseline form-m">
                                            <div class="form-cus">                                        
                                                <label class="form-label">Custom Memo Type</label>
                                                <input class="form-control" id="" name="Custom Memo Type" placeholder="Enter First Name" type="text" value="">
                                            </div>
                                            <div class="form-cus">                                        
                                                <label class="form-label">Note</label>
                                                <textarea class="form-control"></textarea>
                                            </div>
                                            <div class="form-cus">                                        
                                                <label class="form-label">Status</label>
                                                <select class="form-control">
                                                    <option>select</option>
                                                    <option>No</option>
                                                    <option>Yes</option>
                                                </select>
                                            </div>
                                            <div class="form-cus">                                        
                                                <label class="form-label">No of Sections</label>
                                                <input class="form-control" id="" name="" placeholder="Enter Telephone 1" type="text" value="">
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="step-actions">
                                    <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">Next</button>
                                    <button class="waves-effect waves-dark btn btn-sm btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </li>
                
                        <li class="step last">
                            <div class="step-title waves-effect last1" data-step-label="Assign Role, position">Sections</div>
                            <div class="step-content">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="">
                                            <div class="d-flex flex-wrap justify-content-start align-items-baseline form-m">
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Positions</label>
                                                    <input class="form-control" id="" name="Positions" placeholder="Enter Positions" type="text" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Company</label>
                                                    <input class="form-control" id="" name="Company" placeholder="Enter Company" type="text" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Department</label>
                                                    <input class="form-control" id="" name="Department"  placeholder="Enter Company Department" type="" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Role</label>
                                                    <input class="form-control" id="" name="Role"  placeholder="Enter Company Role" type="" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Designation</label>
                                                    <input class="form-control" id="" name="Designation" placeholder="Enter Designation" type="text" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Login Id</label>
                                                    <input class="form-control" id="txtaddress" name="Address" placeholder="Enter Full Address" type="text" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Employee Id</label>
                                                    <input class="form-control" id="txtaddress" name="Address" placeholder="Enter Full Address" type="text" value="">
                                                </div>
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Reporting User</label>
                                                    <input class="form-control" id="txtaddress" name="Address" placeholder="Enter Full Address" type="text" value="">
                                                </div>                                        
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Is Global User</label>
                                                    <div class="">
                                                        <input id="" name="" type="checkbox" value="true">
                                                    </div>
                                                </div>                                        
                                                <div class="form-cus">                                        
                                                    <label class="form-label">Is Inter Company</label>
                                                    <div class="">
                                                        <input id="" name="" type="checkbox" value="true">
                                                    </div>
                                                </div>
                                            </div>
                                       </form>
                                    </div>
                                </div>
                                <div class="step-actions">
                                    <!-- Here goes your actions buttons -->
                                    <button class="waves-effect waves-dark btn btn-sm btn-secondary next-step">Cancel</button>
                                    <button class="waves-effect waves-dark btn next-step btn btn-sm btn-success">Submit</button>
                                    <button class="waves-effect waves-dark btn btn-sm previous-step btn-primary">Previous</button>
                                </div>
                            </div>
                        </li>
                
                    </ul>                
                <!-- /. Steppers -->
            </div>            
        </div>
    </div>
</div>